{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/vantindex.css">

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/vant.min.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/gyComp/mbnavbar.js"></script>
    <script src="__PUBLIC__/js/gyComp/qrcode.js"></script>
</head>
<body>
<div id="app">
    <h3 style="text-align: center">航材申领表</h3>
    <van-cell v-for="(item,index) in AppList" :title="item.cInvName+'*'+item.iQuantity" @click="HCAppCellClick(index)"  :value="item.cMaker">
        <van-tag slot="label" :type="CKInfoMap.get(item.autoid)!=undefined && CKInfoMap.get(item.autoid).length>0?'success':'default'" >{{item.cInvCode}}</van-tag>
    </van-cell>

    <van-popup v-model="showPop"  position="bottom" closeable
               :style="{ height: '85%'}">
        <van-divider >申领信息</van-divider>
        <van-row >
            <van-col span="3" offset="1">名称:</van-col>
            <van-col span="8">
                <van-tag type="success">{{popData.cInvName}}</van-tag>
            </van-col>
            <van-col span="3">件号:</van-col>
            <van-col span="9">
                <van-tag closeable @close="CloseApp(popData.autoid)"> {{popData.cInvCode}}</van-tag>
            </van-col>
        </van-row>
        <van-row style="margin-top: 7px;">
            <van-col span="3" offset="1">数量:</van-col>
            <van-col span="8">
                <van-tag type="primary">{{popData.iQuantity}}</van-tag>
                <van-tag v-show="popData.bSerial==true" type="warning">序</van-tag>
            </van-col>
            <van-col span="5">申领人:</van-col>
            <van-col span="6">
                <van-tag> {{popData.cMaker}}</van-tag>
            </van-col>
        </van-row>


        <van-divider >拟出库信息</van-divider>
        <van-row>
            <van-col span="6" offset="1">货位</van-col>
            <van-col span="8">GRN</van-col>
            <van-col span="6">数量</van-col>
            <van-col span="3"><van-tag round type="success" @click="showTMScan">扫一扫</van-tag> </van-col>
        </van-row>

        <div style="margin-top: 7px;">
            <van-row v-for="(item,index) in curCKInfoList">
                <van-col span="6" offset="1">
                    <van-tag>{{item.cPosition}}</van-tag>
                </van-col>
                <van-col span="8">
                    <van-tag closeable @close="onDelCKRow(item.cPosition,item.cBatch)">{{item.cBatch}}</van-tag>
                </van-col>
                <van-col span="8">
                    <van-tag color="#7232dd">{{item.cFree1}}</van-tag>
                    <van-tag type="primary">{{item.ckiQuantity}}</van-tag>
                    <van-tag type="warning" @click="SNClick(index)" v-show="item.bSerial">SN</van-tag>
                </van-col>
            </van-row>
        </div>

        <van-divider >库存信息</van-divider>
            <van-list style="margin-top: 10px;" :loading="loading" :finished="true"
                      :finished-text="fText">
                <van-cell v-for="(item,index) in curStockQryRet" :title="item.cWhName" :label="item.cPosCode" @click="ManualCK(index)" is-link>
                    <template slot="default">
                        <van-tag type="danger" v-show="item.dMassDateEen!=null">{{item.dMassDateEen}}到期</van-tag>
                        <van-tag type="primary">{{item.cFree1}}</van-tag>
                        <van-tag >{{item.iQuantity}}</van-tag>
                        <br/>
                        <span style="font-size: smaller">{{item.cBatch}}</span>
                    </template>
                </van-cell>
            </van-list>
        <p></p>
        <van-row>

        </van-row>
    </van-popup>

    <van-dialog
            v-model="TMScanDiagShow"
            :show-cancel-button="false"
            :show-confirm-button="false"
    >
        <div style="text-align: center;margin-left: 20px;">
            <qrcode ref="maincamera" @oncodescaned="OnTMScaned"></qrcode>
        </div>
        <van-divider >扫码信息</van-divider>
        <van-row style="font-size: small">
            <van-col span="11" offset="1">批次</van-col>
            <van-col span="4">库存</van-col>
            <van-col span="8">
                出库
            </van-col>
        </van-row>
        <div style="margin-top: 7px;">
            <van-row v-for="(item,index) in TMScanDiag.ckInfoList">
                <van-col span="11" offset="1">
                    <van-tag closeable @close="DelTMSCanRow(item.cPosition,item.cBatch,item.cInvSN)">{{item.cBatch}}</van-tag>
                </van-col>
                <van-col span="4">
                    <van-tag type="primary">{{item.iQuantity}}</van-tag>
                </van-col>
                <van-col span="8">
                    <van-stepper v-model="TMScanDiag.ckInfoList[index].ckiQuantity" step="1" v-show="!item.bSerial"></van-stepper>
                    <van-tag type="success" v-show="item.bSerial">{{item.cInvSN}}</van-tag>
                </van-col>
            </van-row>
            <van-row style="text-align: center;margin-top: 7px;">
                <van-button type="warning" size="small" @click="OnScanTMAddToCKList">加入出库单</van-button>     <van-button type="danger" size="small" @click="onScanDiagClose">关闭</van-button>
            </van-row>
        </div>
        <p></p>
    </van-dialog>


    <van-dialog
            v-model="ManualCKDiagShow"
            :show-cancel-button="false"
            :show-confirm-button="false"
    >
        <van-divider >货位信息</van-divider>
        <van-row style="font-size: small">
            <van-col span="3" offset="2">货位:</van-col>
            <van-col span="7">
                <van-tag >{{ManualCKDiagInfo.cPosCode}}</van-tag>
            </van-col>
            <van-col span="3">批次:</van-col>
            <van-col span="8">
                <van-tag> {{ManualCKDiagInfo.cBatch}}</van-tag>
            </van-col>
        </van-row>

        <van-row style="font-size: small;margin-top: 7px;" >
            <van-col span="3" offset="2">需求:</van-col>
            <van-col span="7">
                <van-tag  type="danger">{{popData.iQuantity}}</van-tag>
            </van-col>
            <van-col span="3">库存:</van-col>
            <van-col span="8">
                <van-tag> {{ManualCKDiagInfo.iQuantity}}</van-tag>
            </van-col>
        </van-row>
        <van-divider v-show="ManualCKDiagInfo.bSerial">序列号列表(请选择)</van-divider>
        <van-list v-show="ManualCKDiagInfo.bSerial" style="margin-top: 7px;" :finished="true">
                <van-checkbox-group v-model="ManualCKDiagInfo.SNSelected">
                    <van-cell-group>
                        <van-cell
                                v-for="(item, index) in ManualCKDiagInfo.SNs"
                                clickable
                                :key="item.cInvSN"
                                :title="item.cInvSN"
                        >
                            <van-checkbox
                                    :name="item.cInvSN"
                                    slot="right-icon"
                            />
                        </van-cell>
                    </van-cell-group>
                </van-checkbox-group>
        </van-list>
        <van-row v-show="!ManualCKDiagInfo.bSerial">
            <van-cell-group>
                <van-field
                        v-model="ManualCKDiagInfo.ckiQuantity"
                        label="出库数量:"
                        placeholder="请输入出库数量"
                        type="number"
                ></van-field>
            </van-cell-group>
        </van-row>
        <van-row style="text-align: center;margin-top: 7px;">
            <van-button type="warning" size="small" @click="onAddToCKList">加入出库单</van-button>     <van-button type="danger" size="small" @click="ManualCKDiagShow=false">关闭</van-button>
        </van-row>
        <p></p>
    </van-dialog>


    <mbnavbar act="1"></mbnavbar>
</div>
<script>

    new Vue({
        el: '#app',
        data() {
            return {
                loading:false,
                finished:false,
                ManualCKDiagShow:false,
                fText:'加载中....',
                value:'',
                corp:'',
                showPop:false,
                username:'',
                AppListQry:{
                    cDepName:'',
                    cPersonName:'',
                    cInvCode:'',
                    cInvName:'',
                },
                AppList:[],
                option: [
                    { text: '全部商品', value: 0 },
                    { text: '新款商品', value: 1 },
                    { text: '活动商品', value: 2 }
                ],
                popData:{
                    cInvCode:'',
                    cInvName:'',
                    bSerial:false,
                    iQuantity:'',
                    cMaker:'',
                },
                TMScanDiagShow:false,
                curAppcInvCode:'',
                curStockQryRet:[],
                ManualCKDiagInfo:{
                    iQuantity:0,
                    bSerial:false,
                    cBatch:'',
                    cPosCode:'',
                    SNs:[],
                    SNSelected:[],
                    ckiQuantity:0,
                },
                TMScanDiag:{
                    ckInfoList:[],
                },
                curStockQryRetSelectIndex:0,
                curCKInfoList:[],
                CKInfoMap:new Map(),
                curImalIdsIndex:0,
            }
        },
        created(){
            this.CKInfoMap = this.RestoreCKMapFromSessionStorage();
            this.GetAppList();
        },
        methods: {
            gyAjaxPost(url,data,onSuccess,onError){
                var _this = this;
                axios({
                    method: 'post',
                    url: url,
                    data: data
                }).then(function(response){
                    onSuccess(_this,response);
                }).catch(function (error) {
                    if(error!=null)
                        if(onError!=null){
                            onError(_this,error);
                        }
                });
            },
            GetStock(){
                if(this.curAppcInvCode==''){
                    return;
                }
                //this.loading = true;
                var _this = this;
                _this.fText = '';
                this.gyAjaxPost("/system/invPositionSum/JQStockQuery"
                    ,"cInvCode="+this.curAppcInvCode +"&Page=1&PageSize=10000&LYOnly=true",
                    function (_this,response) {
                        _this.curStockQryRet = response.data.body.records;
                        _this.finished = true;
                        _this.fText = '加载完毕';
                    },function(_this,res){
                        _this.finished = true;
                        _this.fText = '加载完毕';
                    });
            },
            GetAppList(){
                this.gyAjaxPost("/ApplicationForm/selectMaterialAppList"
                    ,"cDepName="+this.AppListQry.cDepName+"&cPersonName="+this.AppListQry.cPersonName
                    +"&cInvCode="+this.AppListQry.cInvCode+"&cInvName="+this.AppListQry.cInvName
                    ,
                    function (_this,response) {
                        _this.AppList = response.data.body;
                    },null);
            },
            HCAppCellClick(i){
                var row = this.AppList[i];
                console.log(row);
                this.curCKInfoList = this.CKInfoMap.get(row.autoid)===undefined?[]:this.CKInfoMap.get(row.autoid);
                this.curStockQryRet = [];
                this.popData = row;
                this.curAppcInvCode = row.cInvCode;
                this.GetStock();
                this.showPop = true;

            },
            ManualCK(index){
                var row = this.curStockQryRet[index];
                this.curStockQryRetSelectIndex = index;
                this.ManualCKDiagInfo.SNs = [];
                this.ManualCKDiagInfo.SNSelected = [];
                this.ManualCKDiagInfo.bSerial = row.bSerial;
                this.ManualCKDiagInfo.cPosCode = row.cPosCode;
                this.ManualCKDiagInfo.cBatch = row.cBatch;
                this.ManualCKDiagInfo.iQuantity = row.iQuantity;
                this.iQuantity = row.iQuantity;
                if(row.bSerial){
                    var _this = this;
                    this.gyAjaxPost("/system/sTSNState/getSNListByStockQueryClass"
                        ,"cWhCode="+row.cWhCode+"&cPosition="+row.cPosCode
                        +"&cInvCode="+row.cInvCode+"&cBatch="+row.cBatch+"&cFree1="+row.cFree1,
                        function (_this,response) {
                            _this.ManualCKDiagInfo.SNs = response.data.body;
                        },null);
                }
                this.ManualCKDiagShow = true;
            },

            /*
            cItemAll
            cInvCode
            ckiQuantity
            cFree1
            iMalIDs
            cWhCode
            cPosition
            cBatch
            cInvSNs
            cInvSN_JSON
            bSerial

            * */
            onAddToCKList(){
                if(this.ManualCKDiagInfo.bSerial){
                    this.ManualCKDiagInfo.ckiQuantity = this.ManualCKDiagInfo.SNSelected.length;
                }

                if(this.ManualCKDiagInfo.ckiQuantity<=0){
                    this.$toast('出库量不可为0!');
                    return;
                }

                if(this.ManualCKDiagInfo.ckiQuantity>this.popData.iQuantity){
                    this.$toast('不可超需求量出库!');
                    return;
                }


                var StockInfoRow  = this.curStockQryRet[this.curStockQryRetSelectIndex];
                if(this.ManualCKDiagInfo.ckiQuantity > StockInfoRow.iQuantity){
                    this.$toast('不可超库存出库!');
                    return;
                }

                var i = 0 ;
                for( i = 0 ; i < this.curCKInfoList.length ; i++ ){
                    if(this.curCKInfoList[i].cPosition === StockInfoRow.cPosCode &&
                        this.curCKInfoList[i].cBatch === StockInfoRow.cBatch
                    ){
                        this.curCKInfoList.splice(i,1);
                    }
                }

                var ckInfo = {};
                ckInfo.cItemAll = this.popData.cItemCode + "/" +  this.popData.cItemName;
                ckInfo.cInvCode = this.popData.cInvCode;
                ckInfo.ckiQuantity = this.ManualCKDiagInfo.ckiQuantity;
                ckInfo.cFree1 = StockInfoRow.cFree1;
                ckInfo.iMalIDs = this.popData.autoid;
                ckInfo.cInvName = this.popData.cInvName;
                ckInfo.cWhCode = StockInfoRow.cWhCode;
                ckInfo.cPosition = StockInfoRow.cPosCode;
                ckInfo.cBatch = StockInfoRow.cBatch;
                ckInfo.bSerial = StockInfoRow.bSerial;
                ckInfo.cMaker = this.popData.cMaker;
                if(ckInfo.bSerial){
                    ckInfo.cInvSNs = this.ManualCKDiagInfo.SNSelected[0];
                    for(i=1;i<this.ManualCKDiagInfo.SNSelected.length;i++){
                        ckInfo.cInvSNs += "," + this.ManualCKDiagInfo.SNSelected[i];
                    }
                }
                ckInfo.cInvSN_JSON = this.ManualCKDiagInfo.SNSelected;
                this.curCKInfoList.push(ckInfo);
                this.CKInfoMap.set(ckInfo.iMalIDs,this.curCKInfoList);
                this.CKMapStoreToSessionStorage();
                this.$toast('添加成功!');
            },
            SNClick(index){
                this.$toast(this.curCKInfoList[index].cInvSNs);
            },
            onDelCKRow(cPositon,cBatch){
                var i = 0 ;
                for( i = 0 ; i < this.curCKInfoList.length ; i++ ){
                    if(this.curCKInfoList[i].cPosition === cPositon &&
                        this.curCKInfoList[i].cBatch === cBatch
                    ){
                        this.curCKInfoList.splice(i,1);
                    }
                }
                this.CKMapStoreToSessionStorage();
            },
            OnTMScaned(TMStr){
                this.gyAjaxPost("/DeliveryOrder/gyTMCheck"
                    ,"TMStr="+TMStr
                    ,
                    function (_this,response) {
                        if(response.data.body==null){
                            _this.$toast(response.data.message);
                        }else{
                           // alert(JSON.stringify(response.data.body));
                            var ckInfo = {};
                            var row = response.data.body;
                            var i = 0 ;
                            //alert(JSON.stringify(row));
                            if(row.cInvCode != _this.popData.cInvCode){
                                _this.$toast("件号不符!需要:"+_this.popData.cInvCode+",扫描到:"+row.cInvCode);
                                return;
                            }

                            for( i = 0 ; i < _this.TMScanDiag.ckInfoList.length ; i++ ){
                                if(_this.TMScanDiag.ckInfoList[i].cPosition === row.cPosition &&
                                    _this.TMScanDiag.ckInfoList[i].cBatch === row.cBatch ||
                                    (row.cInvSN!=null && row.cInvSN ==_this.TMScanDiag.ckInfoList[i].cInvSN)
                                ){
                                    if(row.bSerial){
                                        if(_this.TMScanDiag.ckInfoList[i].cInvSN == row.cInvSN){
                                            _this.$toast("该序列号已经存在!请看第"+(i+1)+"行");
                                            return;
                                        }
                                    }else{
                                        _this.$toast("已存在,请看第"+(i+1)+"行");
                                        return;
                                    }
                                }
                            }

                            ckInfo.cItemAll = _this.popData.cItemCode + "/" +  _this.popData.cItemName;
                            ckInfo.cInvCode = _this.popData.cInvCode;
                            ckInfo.ckiQuantity = row.bSerial?1:0;
                            ckInfo.cFree1 = row.cFree1;
                            ckInfo.iMalIDs = _this.popData.autoid;
                            ckInfo.cWhCode = row.cWhCode;
                            ckInfo.cInvName = row.cInvName;
                            ckInfo.cPosition = row.cPosition;
                            ckInfo.cBatch = row.cBatch;
                            ckInfo.bSerial = row.bSerial;
                            ckInfo.iQuantity = row.bSerial?1:row.iQuantity;
                            ckInfo.cInvSN = row.cInvSN;
                            ckInfo.cMaker = _this.popData.cMaker;
                            ckInfo.cInvSNs = row.cInvSN;
                            ckInfo.cInvSN_JSON = [row.cInvSN];
                            _this.TMScanDiag.ckInfoList.push(ckInfo);
                        }
                    },null);
            },
            showTMScan(){
                this.TMScanDiag.ckInfoList = [];
                this.TMScanDiagShow = true;
                this.$refs.maincamera.CameraInit();
            },
            OnScanTMAddToCKList(){
                var i = 0 ,totalCKCnt = 0;
                if(this.TMScanDiag.ckInfoList.length==0){
                    this.$toast("未找到出库信息!");
                    return;
                }

                for(i=0;i<this.TMScanDiag.ckInfoList.length;i++){
                    if(this.TMScanDiag.ckInfoList[i].ckiQuantity <=0){
                        this.$toast("不允许第"+(i+1) +"行0出库!" );
                        return;
                    }
                    if(this.TMScanDiag.ckInfoList[i].ckiQuantity > this.TMScanDiag.ckInfoList[i].iQuantity){
                        this.$toast("第"+(i+1) +"行,出库量大于库存量!" );
                        return;
                    }
                    totalCKCnt+=this.TMScanDiag.ckInfoList[i].ckiQuantity;
                }

                if(totalCKCnt>this.popData.iQuantity){
                    this.$toast("出库量:"+totalCKCnt+""+"大于需求量:"+this.popData.iQuantity);
                    return;
                }


                for(i=0;i<this.TMScanDiag.ckInfoList.length;i++){
                    if(this.TMScanDiag.ckInfoList[i].bSerial){
                        this.AddSerialCKRowToMainCKInfoList(this.TMScanDiag.ckInfoList[i]);
                    }else{
                        this.AddNonSerialCKRowToMainCKInfoList(this.TMScanDiag.ckInfoList[i]);
                    }
                }

                this.CKInfoMap.set(this.popData.autoid,this.curCKInfoList);


                this.CKMapStoreToSessionStorage();

                this.$toast("加入成功!");
            },
            AddNonSerialCKRowToMainCKInfoList(row){
                var i = 0 ;
                for( i = 0 ; i < this.curCKInfoList.length ; i++ ){
                    if(this.curCKInfoList[i].cPosition === row.cPosition &&
                        this.curCKInfoList[i].cBatch === row.cBatch
                    ){
                        this.curCKInfoList.splice(i,1);
                    }
                }
                this.curCKInfoList.push(row);
            },
            AddSerialCKRowToMainCKInfoList(row){
                var i = 0 ,j=0;
                for( i = 0 ; i < this.curCKInfoList.length ; i++ ){
                    if(this.curCKInfoList[i].cPosition === row.cPosition &&
                        this.curCKInfoList[i].cBatch === row.cBatch
                    ){
                        //看看该序列号是否已经存在
                        for(j=0;j< this.curCKInfoList[i].cInvSN_JSON.length;j++){
                            if(this.curCKInfoList[i].cInvSN_JSON[j]==row.cInvSN){
                                return;
                            }
                        }

                        this.curCKInfoList[i].cInvSN_JSON.push(row.cInvSN);
                        this.curCKInfoList[i].cInvSNs +=","+row.cInvSN;
                        this.curCKInfoList[i].ckiQuantity+=1;
                        return ;
                    }
                }
                this.curCKInfoList.push(row);
            },
            DelTMSCanRow(cPosition,cBatch,cInvSN){
                var i = 0 ;
                for(i=0;i<this.TMScanDiag.ckInfoList.length;i++){
                    if(this.TMScanDiag.ckInfoList[i].cPosition == cPosition &&
                        this.TMScanDiag.ckInfoList[i].cBatch == cBatch &&
                        this.TMScanDiag.ckInfoList[i].cInvSN == cInvSN
                    )
                    {
                        this.TMScanDiag.ckInfoList.splice(i,1);
                    }
                }
            },
            onScanDiagClose(){
                this.TMScanDiagShow = false;
                this.$refs.maincamera.StopScan();
            },
            strMapToObj(strMap){
                var obj = {};
                strMap.forEach(function(v,k){
                    obj[k]=v;
                });
                return obj;
            },
            objToStrMap(obj){
                var strMap = new Map();
                for(k of Object.keys(obj)){
                    strMap.set(k,obj[k]);
                }
                return strMap;
            },
            CKMapStoreToSessionStorage(){
                sessionStorage.setItem("ckMap",JSON.stringify(this.strMapToObj(this.CKInfoMap)));
            },
            RestoreCKMapFromSessionStorage(){
               var MapStr =  sessionStorage.getItem("ckMap");
               if(MapStr==undefined){
                   return new Map();
               }

               var obj = JSON.parse(MapStr);
               return this.objToStrMap(obj);
            },
            CloseApp(MalAppsId){
                var _this = this;
                this.$dialog.confirm({
                    title: '关闭航材申请',
                    message: '您确定要关闭本行航材申请?'
                }).then(() => {
                    this.gyAjaxPost("/ApplicationForm/CloseApps",
                            "AppIds="+MalAppsId
                        ,
                        function (_this,response) {
                            if(response.data.message!="ok"){
                                _this.$toast(response.data.message);
                            }else{
                                _this.$toast("关闭成功!");
                                _this.CKInfoMap.set(MalAppsId,[]);
                                _this.CKMapStoreToSessionStorage();
                                _this.showPop = false;
                                _this.GetAppList();
                            }
                        },null);
                }).catch(() => {
                    // on cancel
                });
            }
        },
        components:{
            mbnavbar:mbnavbar.default,
            qrcode:qrcode.default,
        }
    });
</script>
</body>
</html>
