{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>需求申请</title>
    <link rel="stylesheet" href="/static/css/vantindex.css">

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/vant.min.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/gyComp/mbnavbar.js"></script>
    <script src="__PUBLIC__/js/gyComp/qrcode.js"></script>

</head>
<body>
<div id="app">
    <van-field v-model="userName" type="text" label="用户名" ></van-field>
    <van-field v-model="passWord" type="password" label="密码" ></van-field>
    <vab-row>
        <van-col span="8" offset="8">
            <van-button type="primary" @click="Login">登录</van-button>
        </van-col>
    </vab-row>


</div>
<script>


    new Vue({
        el: '#app',
        data() {
            return {
                userName : '',
                passWord : '',

            }
        },
        methods: {
            gyAjaxPost(url,data,onSuccess,onError){
                var _this = this;
                axios({
                    method: 'post',
                    url: url,
                    data: data
                }).then(function(response){
                    onSuccess(_this,response);
                }).catch(function (error) {
                    if(error!=null)
                        if(onError!=null){
                            onError(_this,error);
                        }
                });
            },

            Login(){
                this.gyAjaxPost("/QPSys/MBController/Login"
                    ,'userName='+this.userName+'&passWord='+this.passWord,
                    function (_this,response){
                        if(response.data=='OK'){
                            window.location = '/QPSys/MBController/showXQSQ';
                        }else{
                            _this.$toast(response.data);
                        }
                    },null);
            },
        },
        components:{

        }
    });
</script>
</body>
</html>