<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检查条款管理</title>
    <style>
        .xuxian{
            height:0;
            border-bottom:#000000 2px dashed;
        }
    </style>
</head>
<body class="container-full">
<form action="/SafetyMng/CheckTBMng/showCheckRowQuery" id="mForm" method="post" enctype="application/x-www-form-urlencoded">
    <datalist id="Code1List">

    </datalist>
    <datalist id="Code2List">

    </datalist>

    <datalist id="CheckDBList">
        <option ></option>
        {volist name="CheckDB" id="vo"}
            <option {eq name="$Think.post.CheckDB" value="{$vo.BaseName}"} selected {/eq} >{$vo.BaseName}</option>
        {/volist}
    </datalist>

    <datalist id="CheckContentList">

    </datalist>

    <datalist id="CheckStandardList">

    </datalist>

    <datalist id="ProfessionNameList">

    </datalist>

    <datalist id="BusinessNameList">

    </datalist>

    <datalist id="CheckSubjectList">

    </datalist>

    <datalist id="RelatedCorpsList">

    </datalist>

    <datalist id="CheckSourceList">

    </datalist>


    <input type="hidden" id="opType" name="opType" value=""/>
    <input type="hidden" id="CurRowId" name="CurRowId" value="0"/>
    <div class="col-sm-12" >
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            查询条件<<折叠
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-10" style="margin-top: 10px;">
                                {neq name="Warning" value=""}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert"><strong>提示：</strong>{$Warning}</div>
                                    </div>
                                </div>
                                {/neq}

                            </div>
                            <table class="table table-bordered col-sm-11">
                                <tr>
                                    <td style="width: 10%">
                                        <span style="font-weight: bold;">操作模式:</span>
                                    </td>
                                    <td style="width: 25%">
                                        <div class="btn-group" >
                                            <a  type="button" name="AddBtn" id="AddBtn" opType="Add" MName="增加" class="btn btn-default ">增加</a>
                                            <a  type="button" name="MdfBtn" id="MdfBtn" opType="Mdf" MName="修改" class="btn btn-default ">修改</a>
                                            <a  type="button" name="DelBtn" id="DelBtn"  MName="删除" class="btn btn-default ">删除</a>
                                        </div>
                                    </td>
                                    <td style="width: 10%">
                                        <span style="font-weight: bold;">编号1:</span>
                                    </td>
                                    <td style="width: 20%">
                                        <input class="form-control required"  name="Code1" list="Code1List" id="Code1"  value="{$Think.post.Code1}" LinkAge/>

                                    </td>
                                    <td style="width: 10%">
                                        <span style="font-weight: bold;">编号2:</span>
                                    </td>
                                    <td >
                                        <input class="form-control required" data-tags="true"  name="Code2" id="Code2"  value="{$Think.post.Code2}" list="Code2List" LinkAge/>
                                    </td>
                                    <td>
                                        <button type="submit"  class="btn btn-success">查询</button>
                                    </td>
                                </tr>
                                <tr>
                                    <div class="row">
                                        <td><span style="font-weight: bold;">数据库:</span></td>
                                        <td>
                                            <input class="form-control required"  name="CheckDB" id="CheckDB" list="CheckDBList" LinkAge />

                                        </td>
                                        <td><span style="font-weight: bold;">检查内容:</span></td>
                                        <td colspan="">
                                            <input class="form-control required" data-tags="true" name="CheckContent" id="CheckContent" list="CheckContentList" value="{$Think.post.CheckContent}" LinkAge/>

                                        </td>
                                        <td><span style="font-weight: bold;">检查标准:</span></td>
                                        <td colspan="2">
                                            <input class="form-control required"  name="CheckStandard"  id="CheckStandard" value="{$Think.post.CheckStandard}"  list="CheckStandardList"/>
                                        </td>

                                    </div >
                                </tr>
                                <tr>
                                    <td ><span style="font-weight: bold;">专业名称:</span></td>
                                    <td >
                                        <input class="form-control required"  name="ProfessionName" id="ProfessionName" list="ProfessionNameList"  value="{$Think.post.ProfessionName}" LinkAge />

                                    </td>
                                    <td rowspan="5" colspan="5">
                                        <textarea class="form-control" disabled="disabled" style="height: 250px;" id="CheckStandardEdit"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <span style="font-weight: bold;">业务名称:</span>
                                    </td>
                                    <td >
                                        <input class="form-control required"  name="BusinessName"  id="BusinessName" list="BusinessNameList" value="{$Think.post.BusinessName}" LinkAge />
                                    </td>

                                </tr>
                                <tr>
                                    <td><span style="font-weight: bold;">检查来源:</span></td>
                                    <td >
                                        <input class="form-control required"  name="CheckSource"  id="CheckSource" list="CheckSourceList"  value="{$Think.post.CheckSource}" LinkAge/>
                                    </td>
                                </tr>
                                <tr>
                                    <td ><span style="font-weight: bold;">检查项目:</span></td>
                                    <td >
                                        <input class="form-control required"  name="CheckSubject"  id="CheckSubject" list="CheckSubjectList" value="{$Think.post.CheckSubject}" LinkAge/>

                                    </td>

                                </tr>
                                <tr>
                                    <td><span style="font-weight: bold;">责任部门:</span></td>
                                    <td >
                                        <input class="form-control required"  name="RelatedCorps"  id="RelatedCorps" list="RelatedCorpsList"  value="{$Think.post.RelatedCorps}"/>

                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        <div class="row " style="margin-top: 15px;">
            <div class="col-sm-12 xuxian"></div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-12" >
                    <table class="table  table-bordered bootstrap-datatable datatable table-hover responsive" style="min-width:3900px;">
                        <thead>
                        <tr>
                            <th style="width: 50px;">序号</th>
                            <th >专业名称</th>
                            <th >业务名称</th>
                            <th style="width: 100px;">检查来源</th>
                            <th style="width: 100px;">检查项目</th>
                            <th style="width: 50px;">编号1</th>
                            <th style="width: 50px;">编号2</th>
                            <th >检查内容</th>
                            <th style="width: 600px;">检查标准</th>
                            <th style="width: 600px;">符合性验证标准<a class="btn btn-sm btn-warning" AddSecondCheckRow style="margin-left: 20px;">+</a></th><!-- 生成类型 航空公司　起点　终点　航班类型--->
                            <th style="width: 100px;">检查方法</th>
                            <th >依据名称</th>
                            <th>依据条款</th><!-- 航空公司　机号　机型　座位总数-->
                            <th>责任单位</th>
                            <th>单位手册</th>
                            <th>检查频次</th>
                        </thead>
                        <tbody>
                        {volist name="SecondCheckRowList" id="vo"}
                            <tr CheckStandardID = "{$vo.StandardID}" rowId = "{$vo.id}" >
                                <td CheckStandardID = "{$vo.StandardID}" rowId = "{$vo.id}" >
                                    {++$Cnt}
                                </td>
                                <td>
                                    {$vo.ProfessionName}
                                </td>
                                <td>
                                    {$vo.BusinessName}
                                </td>
                                <td>
                                    {$vo.CheckSource}
                                </td>
                                <td>
                                    {$vo.CheckSubject}
                                </td>
                                <td>
                                    {$vo.Code1}
                                </td>
                                <td>
                                    {$vo.Code2}
                                </td>
                                <td>
                                    {$vo.CheckContent}
                                </td>
                                <td>
                                    {$vo.CheckStandard}
                                </td>
                                <td>
                                    {$vo.ComplianceStandard}
                                </td>
                                <td>
                                    {$vo.CheckMethods}
                                </td>
                                <td>
                                    {$vo.BasisName}
                                </td>
                                <td>
                                    {$vo.BasisTerm}
                                </td>
                                <td>
                                    {$vo.RelatedCorps}
                                </td>
                                <td>
                                    {$vo.InnerManual}
                                </td>
                                <td>
                                    {$vo.CheckFrequency}
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<script>

    function SelectLinkage (SelID) {
        $Pv = [];
        $SelArr = ['CheckDB','ProfessionName','BusinessName','CheckSource','CheckSubject','Code1','Code2','CheckContent','CheckStandard'];
        $SelArr.forEach(function (v) {
            $r = {'SelName':v,'SelText':$('#'+v ).val()};
            $Pv.push($r);
        });
        $PostData = {"EventSel":SelID,'data':$Pv,'FakeID':'YES'};
        $.ajax({
            url:"/SafetyMng/Help/Ajax_SelectLinkage",
            data: JSON.stringify($PostData),
            type:'post',
            dataType:"json",
            success:function (data,textStatus) {
                $TargetSel = data['TargetSel']+'List';
                $SelData = data['data'];
                //alert($TargetSel);
                $bBegin = false;
                $SelArr.forEach(function (v) {
                    if($bBegin){
                        $('#'+v+'List').empty();
                    }
                    if(v==SelID){
                        $bBegin =true;
                    }
                });

                $('#'+$TargetSel).empty();

                for(i=0,str='';i<$SelData.length;i++){
                    str+= '<option >'+$SelData[i].text+'</option>';
                }

                $(str).appendTo('#'+$TargetSel);

            },
            error:function (XMLHttpRequest,textStatus,errorThrown) {

            }
        });
    }



     $(function () {
         $("a[opType]").bind('click',function () {
             $URL =  '/SafetyMng/CheckTBMng/showFirstHalfCheckRowMng';
             $opType = $(this).attr('opType');
             if($opType=='Mdf'){
                 if($('#CurRowId').val()==0){
                     layer.alert('请选择您要修改的条款!');
                     return;
                 }
                 $URL = $URL + '/opType/Mdf/id/'+$('#CurRowId').val();
             }
             layer.open({
                 title:'维护',
                 type: 2,
                 content: $URL,
                 area: ['500px', '600px'],
                 end:function () {
                     $('#mForm').submit();
                 }
             });
         });

        $('a[AddSecondCheckRow]').click(function () {
            $URL =  '/SafetyMng/CheckTBMng/showSecondHalfCheckRowMng';
            if($('#CurRowId').val()==0){
                layer.alert('请先在上面选择检查标准!');
                return;
            }else{
                $id = $('#CurRowId').val();
                $URL += '/opType/Add/CheckStandardID/'+$id;
            }
            layer.open({
                title:'符合性判定标准维护',
                type: 2,
                content: $URL,
                area: ['500px', '600px'],
                end:function () {
                    $('#mForm').submit();
                }
            });
        });

         $('input[LinkAge]').blur(function () {
             SelectLinkage($(this).attr('id'));
         })


        $('#CheckStandard').on("change", function(e) {
            $('#CheckStandardEdit').text($(this).val());

        });

        $('tr[CheckStandardID]').dblclick(function () {
            $URL =  '/SafetyMng/CheckTBMng/showSecondHalfCheckRowMng';
            if($(this).attr('CheckStandardID')==0  || $(this).attr('rowId')==0){
                layer.alert('未选择检查标准或符合性判定标准!');
                return;
            }else{
                $CheckStandard = $(this).attr('CheckStandardID');
                $rowId = $(this).attr('rowId');
                $URL += '/opType/Mdf/CheckStandardID/'+$CheckStandard+'/id/'+$rowId;
            }
            layer.open({
                title:'符合性判定标准维护',
                type: 2,
                content: $URL,
                area: ['500px', '660px'],
                end:function () {
                    $('#mForm').submit();
                }
            });
        });



        $('tr[CheckStandardID]').click(function () {
                $('td[CheckStandardID]').css('background-color','white');
                $('td[CheckStandardID='+$(this).attr('CheckStandardID')+']').css('background-color','yellow');
                $('#CurRowId').val($(this).attr('CheckStandardID'));
        });
    });
</script>
</html>