<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检查条款管理</title>
    <style>
        .xuxian{
            height:0;
            border-bottom:#000000 2px dashed;
        }
    </style>
</head>
<body class="container-full">
<div class="col-sm-11 col-sm-offset-1" >
    <div class="row">
        <div class="col-sm-10" style="margin-top: 10px;">
            {neq name="Warning" value=""}
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert"><strong>提示：</strong>{$Warning}</div>
                </div>
            </div>
            {/neq}
            {eq name="Warning" value=""}
            <div class="alert alert-success" role="alert">
                <strong>提示：</strong>本页面用来对检查数据库进行管理。
            </div>
            {/eq}

        </div>
    <table class="table table-bordered" style="max-width: 85%">
        <tr>
                <td style="width: 10%">
                    <span style="font-weight: bold;">操作模式:</span>
                </td>
                <td style="width: 25%">
                    <div class="btn-group" >
                        <a  type="button" name="AddBtn" id="AddBtn" opType="Add" MName="增加" class="btn btn-default ">增加</a>
                        <a  type="button" name="MdfBtn" id="MdfBtn" opType="Mdf" MName="修改" class="btn btn-default ">修改</a>
                        <a  type="button" name="DelBtn" id="DelBtn"  MName="删除" class="btn btn-default ">删除</a>
                    </div>
                </td>
                <td style="width: 10%">
                    <span style="font-weight: bold;">编号1:</span>
                </td>
                <td style="width: 20%">
                    <select class="form-control required"  name="Code1" id="Code1" LinkAge>

                    </select>
                </td>
                <td style="width: 10%">
                    <span style="font-weight: bold;">编号2:</span>
                </td>
                <td >
                    <select class="form-control required" data-tags="true"  name="Code2" id="Code2" LinkAge>
                    </select>
                </td>
                <td>
                    <a  class="btn btn-success">确定</a>
                </td>
        </tr>
        <tr>
        <div class="row">
            <td><span style="font-weight: bold;">数据库:</span></td>
            <td>
                <select class="form-control required"  name="CheckDB" id="CheckDB" LinkAge>
                    <option ></option>
                    {volist name="CheckDB" id="vo"}
                    <option value="{$vo.id}" >{$vo.BaseName}</option>
                    {/volist}
                </select>
            </td>
            <td><span style="font-weight: bold;">检查内容:</span></td>
            <td colspan="">
                <select class="form-control required" data-tags="true" name="CheckContent" id="CheckContent" LinkAge>

                </select>
            </td>
            <td><span style="font-weight: bold;">检查标准:</span></td>
            <td colspan="2">
                <select class="form-control required"  name="CheckStandard"  id="CheckStandard">

                </select>
            </td>

        </div >
        </tr>
        <tr>
            <td ><span style="font-weight: bold;">专业名称:</span></td>
            <td >
                <select class="form-control required"  name="ProfessionName" id="ProfessionName" LinkAge>
                    <option></option>
                </select>
            </td>
            <td rowspan="4" colspan="5">
                <textarea class="form-control" style="height: 200px;"></textarea>
            </td>
        </tr>
        <tr>
                <td >
                    <span style="font-weight: bold;">业务名称:</span>
                </td>
                <td >
                    <select class="form-control required"  name="BusinessName"  id="BusinessName" LinkAge>

                    </select>
                </td>

        </tr>
        <tr>
             <td ><span style="font-weight: bold;">检查项目:</span></td>
                <td >
                    <select class="form-control required"  name="CheckSubject"  id="CheckSubject" LinkAge>

                    </select>
                </td>
            </div>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">责任部门:</span></td>
            <td >
                <select class="form-control required"  name="RelatedCorps"  id="RelatedCorps" >

                </select>
            </td>
        </tr>
    </table>

    <div class="row " style="margin-top: 15px;">
        <div class="col-sm-10 xuxian"></div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-10" style="padding: 0px;">
            <div id = "gyDiv" class="row pre-scrollable" style="overflow:scroll; width:100%;">
                <table class="table  table-bordered bootstrap-datatable datatable table-hover responsive" style="min-width: 400%;min-height:300px;margin-left: 20px">
                    <thead>
                    <tr>
                        <!----  FlightData表字段列表
                         `类别``航班号``航班状态``执行日期``起飞机场``预计起飞``实际起飞``目的机场``预计到达``实际到达``
                         注册号``SSR``备降机场一``备降机场二``PBN``飞行计划``飞行时间``飞行计划``飞行规则``飞行种类`
                         `备注``高度``架次``RVSM``其他情报``监视设备``降落机场``尾流``速度``通导设备``计划起飞``计划到达``航路`
                         --->
                        <th>序号</th>
                        <th>类别</th>
                        <th>航班号</th><!-- 生成类型 航空公司　起点　终点　航班类型--->
                        <th>航班状态</th>
                        <th>执行日期</th>
                        <th>起飞机场</th><!-- 航空公司　机号　机型　座位总数-->
                        <th>目的机场</th>
                        <th>计划起飞</th>
                        <th>计划到达</th>
                        <th>实际起飞</th>
                        <th>预计到达</th>
                        <th>实际到达</th>
                        <th >注册号</th>
                        <th>机型</th>
                        <th >SSR</th>
                        <th>备降机场一</th>
                        <th>备降机场二</th>
                        <th>PBN</th>
                        <th>飞行时间</th>
                        <th>飞行规则</th>
                        <th>飞行种类</th>
                        <th>备注</th>
                        <th>高度</th>
                        <th>架次</th>
                        <th>RVSM</th>
                        <th>其他情报</th>
                        <th>监视设备</th>
                        <th>降落机场</th>
                        <th>尾流</th>
                        <th>速度</th>
                        <th>通导设备</th>
                        <th>航路</th>
                    </thead>
                    <tbody>
                    <volist name="CurFlightData" id="vo">
                        <tr>
                            <td>
                                {$vo.id}
                            </td>
                            <td>
                                {$vo.类别}
                            </td>
                            <td>
                                <a href="#"  ShowFlightHistory FlightID = "{$vo.id}">{$vo.航班号}</a>
                            </td>
                            <td>
                                {$vo.航班状态}
                            </td>
                            <td>
                                {$vo.执行日期}
                            </td>
                            <td>
                                {$vo.起飞机场}
                            </td>
                            <td>
                                {$vo.目的机场}
                            </td>
                            <td>
                                {$vo.计划起飞}
                            </td>
                            <td>
                                {$vo.计划到达}
                            </td>
                            <td>
                                {$vo.实际起飞}
                            </td>
                            <td>
                                {$vo.预计到达}
                            </td>
                            <td>
                                {$vo.实际到达}
                            </td>
                            <td>
                                {$vo.注册号}
                            </td>
                            <td>
                                {$vo.机型}
                            </td>
                            <td>
                                {$vo.SSR}
                            </td>
                            <td>
                                {$vo.备降机场一}
                            </td>
                            <td>
                                {$vo.备降机场二}
                            </td>
                            <td>
                                {$vo.PBN}
                            </td>
                            <td>
                                {$vo.飞行时间}
                            </td>
                            <td>
                                {$vo.飞行规则}
                            </td>
                            <td>
                                {$vo.飞行种类}
                            </td>
                            <td>
                                {$vo.备注}
                            </td>
                            <td>
                                {$vo.高度}
                            </td>
                            <td>
                                {$vo.架次}
                            </td>
                            <td>
                                {$vo.RVSM}
                            </td>
                            <td>
                                {$vo.其他情报}
                            </td>
                            <td>
                                {$vo.监视设备}
                            </td>
                            <td>
                                {$vo.降落机场}
                            </td>
                            <td>
                                {$vo.尾流}
                            </td>
                            <td>
                                {$vo.速度}
                            </td>
                            <td>
                                {$vo.通导设备}
                            </td>
                            <td>
                                {$vo.航路}
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<input type="hidden" id="opType" name="opType" value=""/>
</body>
<script>
    function SelectLinkage (SelID) {
        $Pv = [];
        $SelArr = ['CheckDB','ProfessionName','BusinessName','Code1','Code2','CheckSubject','CheckContent','CheckStandard'];
        $SelArr.forEach(function (v) {
            $r = {'SelName':v,'SelText':$('#'+v + ' option:selected').text(),'SelVal':$('#'+v).val()};
            $Pv.push($r);
        });
        $PostData = {"EventSel":SelID,'data':$Pv};
        $.ajax({
            url:"/SafetyMng/Help/Ajax_SelectLinkage",
            data: JSON.stringify($PostData),
            type:'post',
            dataType:"json",
            success:function (data,textStatus) {
                $TargetSel = data['TargetSel'];
                $SelData = data['data'];
                //alert($TargetSel);
                $bBegin = false;
                $SelArr.forEach(function (v) {
                    if($bBegin){
                        $('#'+v).html('').select2('data', null);
                    }
                    if(v==SelID){
                        $bBegin =true;
                    }
                });
                $('#'+$TargetSel).select2({data:$SelData});
                $('#'+$TargetSel).val('').select2();
            },
            error:function (XMLHttpRequest,textStatus,errorThrown) {

            }
        });
    }

     $(function () {
         $("a[opType]").bind('click',function () {
             layer.open({
                 title:'维护',
                 type: 2,
                 content: '/SafetyMng/CheckTBMng/showFirstHalfCheckRowMng.html',
                 area: ['500px', '600px']
             });
         });

        $('select[LinkAge]').on("change", function(e) {
             SelectLinkage($(this).attr('id'))
         });

        $('select').select2();
    });
</script>
</html>