<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/gyComp/mainstorelist.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>

</head>
<body>
<div id="app">
    <el-row>
        <el-alert
                title="水电费缴纳"
                type="warning"
                description="本页面用来缴纳商户的水电物业费，并生成单据."
                :closable="false"
                show-icon>
        </el-alert>
    </el-row>
    <el-row style="margin-top: 7px;margin-left: 35%">
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item label="商户:">
                <el-select filterable size="medium" v-model="formData.StoreCode" placeholder="请选择" @change="OnStoreSelected">
                    <el-option
                            v-for="item in StoreList"
                            :key="item.StoreCode"
                            :label="item.StoreCode+'     '+item.StoreName"
                            :value="item.StoreCode">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="onDialogShow" >缴费</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <el-dialog title="水电费缴纳"
               :visible="SDDialogShow"
               width="70%"
               @close="SDDialogShow=false"
    >
        <el-table
                :data="tableData"
                stripe
                border
                :fit="true"
        >
            <el-table-column
                    prop="StoreCode"
                    label="商户编号"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="StoreName"
                    label="店铺名称"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="Type"
                    label="类型"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="Start"
                    label="开始"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="End"
                    label="结束"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="Price"
                    label="单价"
                    width="80">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="info" size="mini">{{scope.row.Price}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="Unit"
                    label="数量"
                    width="80">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="warning" size="mini">{{scope.row.Unit}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="Fee"
                    label="应缴金额"
                    width="80">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="primary" size="mini">{{scope.row.Fee}}</el-tag>
                </template>
            </el-table-column>
        </el-table>
        <el-row style="margin-top: 7px;">
            <el-col>
                <el-link>单据下载</el-link>
                <el-link type="danger">确定缴纳</el-link>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button  @click="SDDialogShow = false">关闭</el-button>
        </div>
    </el-dialog>
    <el-row>
        <el-divider content-position="center">其他欠费记录</el-divider>
    </el-row>
    <el-row>
        <el-table
                :data="QFList"
                stripe
                border
                style="width: 100%"
                :fit="true"
        >
            <el-table-column
                    type="index"
                    label="序号"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="QFSubject"
                    label="名目"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="QFDate"
                    label="欠款日期"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="Fee"
                    label="欠款金额"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="info" size="mini">{{scope.row.Fee}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="QRRName"
                    label="录入人"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="warning" size="mini">{{scope.row.QRRName}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="QRTime"
                    label="录入日期"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="primary" size="mini">{{scope.row.QRTime}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="Memo"
                    label="备注"
                    width="250">
            </el-table-column>
            <el-table-column
                    prop="QRTime"
                    label="录入时间"
                    width="200"
            >
            </el-table-column>
            <el-table-column
                    prop=""
                    label="删除"
            >
                <template slot-scope="scope">
                    <el-button size="mini" @click="DelOtherQKById(scope.row.id)" type="danger">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
</div>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                SDDialogShow:false,
                StoreInfo:'',
                formData:{
                    StoreCode:'',
                    QFSubject:'',
                    QFDate:'',
                    Fee:'',
                    Memo:'',
                },
                QKList:{
                    YJ:'',
                    WYFQK:'',
                    FZQK:'',
                    SFQK:'',
                    DFQK:'',
                    OtherQK:''
                },
                StoreList:[],
                QFList:[],
                tableData:[]
            }
        },
        mounted(){
            this.GetStoreList();
        },
        methods: {
            gyAjaxPost(url,data,onSuccess,onError){
                var _this = this;
                axios({
                    method: 'post',
                    url: url,
                    data: data
                }).then(function(response){
                    onSuccess(_this,response);
                }).catch(function (error) {
                    if(error!=null)
                        onError(_this,error);
                });
            },
            GetStoreList(){
                this.gyAjaxPost("/Index/MainShowList/getStoreList","",
                    function (_this,response) {
                        _this.StoreList  = response.data;
                    },null);
            },
            GetSysConf(){
                this.gyAjaxPost("/Index/SysConf/GetSysConf",this.formData,
                    function (_this,response) {
                        _this.SysConf = response.data;
                    },null);
            }
            ,
            GetStoreInfo(){
                if(this.formData.StoreCode!=''){
                    this.gyAjaxPost("/Index/StoreList/GetStoreInfo",this.formData,
                        function (_this,response) {
                            _this.StoreInfo = response.data;
                        },null);
                }
            },
            onDialogShow(){
                if(this.formData.StoreCode == '' ){
                    this.$message('请先选择商户!');
                    return;
                }
                this.GetStoreSDJFInfo();
                this.SDDialogShow = true;
            },
            OnStoreSelected(){
                this.GetStoreInfo();
                this.GetStoreQKInfo();
            },
            QFInput(){
                this.gyAjaxPost("/Index/GiveFee/QFInput",this.formData,
                    function (_this,response) {
                        _this.$message(response.data);
                        if(response.data=='输入成功!'){
                            _this.GetQFList();
                            _this.formData.Fee = '';
                            _this.formData.QFSubject  = '';
                            _this.formData.QFDate = '';
                        }
                    },null);
            },

            GetStoreQKInfo(){
                if(this.formData.StoreCode !=''){
                    this.gyAjaxPost("/Index/StoreList/GetStoreQKInfo",this.formData,
                        function (_this,response) {
                            if(response.data!=''){
                                _this.QKList = response.data;
                            }
                        },null);
                }
            },
            GetStoreSDJFInfo(){
                if(this.formData.StoreCode !=''){
                    this.gyAjaxPost("/Index/GiveFee/GetStoreSDJFInfo",this.formData,
                        function (_this,response) {
                            if(response.data!=''){
                                _this.tableData = response.data;
                            }
                        },null);
                }
            }
        },
        components:{

        }
    })
</script>
</body>
</html>