<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/gyComp/mainstorelist.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>

</head>
<body>
<div id="app">
    <el-row>
        <el-alert
                title="费用缴纳"
                type="success"
                description="本页面用来输入物业费与房租缴纳记录:
                1、房租及物业费如果有送,请备注。费用系统会自动计算,可以人工修改
                费用录入完成后系统会自动修改房租及物业费的截止日期。"
                :closable="false"
                show-icon>
        </el-alert>
    </el-row>
    <el-row style="margin-top: 7px;">
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item label="商户:">
                <el-select filterable size="medium" v-model="formData.StoreCode" placeholder="请选择" @change="OnStoreSelected">
                    <el-option
                            v-for="item in StoreList"
                            :key="item.StoreCode"
                            :label="item.StoreCode+'     '+item.StoreName"
                            :value="item.StoreCode">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="类别:">
                <el-select  style="width:100px;" size="medium" v-model="formData.FeeType" placeholder="请选择" @change="OnTypeSelected">
                    <el-option
                            key="1"
                            label="房租"
                            value="房租">
                    </el-option>
                    <el-option
                            key="2"
                            label="物业费"
                            value="物业费">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="起始月:">
                <el-date-picker
                        style="width:120px;"
                        v-model="formData.StartMonth"
                        type="month"
                        @change="DateChange"
                        value-format="yyyy-MM"
                       >
                </el-date-picker>
            </el-form-item>
            <el-form-item label="结束月:">
                <el-date-picker
                        style="width:120px;"
                        value-format="yyyy-MM"
                        @change="DateChange"
                        v-model="formData.EndMonth"
                        type="month"
                        >
                </el-date-picker>
            </el-form-item>
            <el-form-item label="金额:">
                <el-input  style="width:100px;" v-model="formData.Fee" style="width:150px;" size="medium" > </el-input>
            </el-form-item>
            <el-form-item label="缴费人:">
                <el-input  style="width:100px;" v-model="formData.FeeGiver" style="width:150px;" size="medium" > </el-input>
            </el-form-item>
            <el-form-item label="备注:">
                <el-input v-model="formData.Memo" style="width:150px;" size="medium" > </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="onSubmit" >录入</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <el-row>
        <el-tag size="mini" effect="dark" type="info">面积:{{StoreInfo.StoreArea}}平米</el-tag>
        <el-tag size="mini" effect="dark" type="info">租金:{{StoreInfo.StoreRental}}元/月</el-tag>
        <el-tag size="mini" effect="dark" type="info">物业费单价:{{SysConf.WYFPrice}}元/平</el-tag>
        <el-link type="success" @click="DJXZ">单据下载</el-link>
    <el-row>
        <el-divider content-position="center">费用缴纳记录</el-divider>
    </el-row>
    <el-row>
        <el-table
                :data="tableData"
                @sort-change="onsort"
                stripe
                border
                style="width: 100%"
                :fit="true"
        >
            <el-table-column
                    type="index"
                    label="序号"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="Type"
                    label="类别"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="StoreCode"
                    label="店铺代码"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="FeeStartDate"
                    label="起始日期"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="info" size="mini">{{scope.row.FeeStartDate}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="FeeEndDate"
                    label="结束日期"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="warning" size="mini">{{scope.row.FeeEndDate}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="Fee"
                    label="缴费金额"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="primary" size="mini">{{scope.row.Fee}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="Memo"
                    label="备注"
                    width="250">
            </el-table-column>
            <el-table-column
                    type="QRRName"
                    label="确认人"
                    width="100">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="danger" size="mini">{{scope.row.QRRName}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="QRTime"
                    label="确认时间"
                    width="200"
                   >
            </el-table-column>
        </el-table>
    </el-row>
</div>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                formData :{
                    StoreCode : '',
                    FeeType:'',
                    StartMonth:'',
                    EndMonth:'',
                    Memo:'',
                    Fee:'',
                    FeeGiver:'',
                    StoreArea:'',
                    StoreRental:''
                },
                ZJUnit: 0,
                StoreList:[

                ],
                tableData:[

                ],
                SysConf:{
                    WYFPrice:1.5
                },
                StoreInfo:{
                    StoreArea:0,
                    StoreRental:0,
                }
            }
        },
        mounted(){
            this.GetStoreList();
            this.GetSysConf();
        },
        methods: {
            gyAjaxPost(url,data,onSuccess,onError){
                var _this = this;
                axios({
                    method: 'post',
                    url: url,
                    data: data
                }).then(function(response){
                    onSuccess(_this,response);
                }).catch(function (error) {
                    if(error!=null)
                        onError(_this,error);
                });
            },
            GetStoreList(){
                this.gyAjaxPost("/Index/MainShowList/getStoreList","",
                    function (_this,response) {
                        _this.StoreList  = response.data;
                    },null);
            },
            onsort(){

            },
            onSubmit(){
                this.GiveWYZJFee();
            },
            GiveWYZJFee(){
                this.gyAjaxPost("/Index/GiveFee/GiveWYZJFee",this.formData,
                    function (_this,response) {
                        if(!(response.data instanceof Array)){
                            _this.$message(response.data);
                            _this.GetStoreFeeList();
                        }
                        },null);
            },
            GetStoreFeeList(){
                if(this.formData.StoreCode!='' &&
                    this.formData.FeeType!=''
                ){
                    this.gyAjaxPost("/Index/GiveFee/GetStoreFeeList",this.formData,
                        function (_this,response) {
                            _this.tableData = response.data;
                        },null);
                }
            },
            GetSysConf(){
                this.gyAjaxPost("/Index/SysConf/GetSysConf",this.formData,
                    function (_this,response) {
                        _this.SysConf = response.data;
                    },null);
            },
            OnStoreSelected(v){
                this.formData.Fee = '';
                this.GetStoreFeeList();
                this.GetStoreInfo();
                if(this.formData.FeeType =='物业费'){
                    this.GetStoreWYFOrZJNextGiveStartMonth(1);
                }else if(this.formData.FeeType=='房租'){
                    this.GetStoreWYFOrZJNextGiveStartMonth(0);
                }
            },
            OnTypeSelected(v){
                if(this.formData.FeeType =='物业费'){
                    this.GetStoreWYFOrZJNextGiveStartMonth(1);
                    this.calcWYF();
                }else{
                    this.GetStoreWYFOrZJNextGiveStartMonth(0);
                    this.calcZJ();
                }
                this.GetStoreFeeList();
            },
            DateChange(v){
                if(this.formData.FeeType =='物业费'){
                    this.calcWYF();
                }else{
                    this.calcZJ();
                }
            },
            calcDiffMonths(SY,SM,EY,EM){
                if(EY>=SY){
                    if(EM>=SM){
                        diff = (EY-SY)*12 + Number(EM - SM) + 1;
                    }else{
                        diff = (EY-SY>1?((EY-SY)-1):0)*12 + 13 - Number(SM) + Number(EM);
                    }
                }else{
                    diff = 0;
                }
                return diff;
            },
            calcWYF(){
                if(this.formData.StartMonth!='' &&
                    this.formData.EndMonth!=''
                ){
                    SY = this.formData.StartMonth.split('-')[0];
                    SM = this.formData.StartMonth.split('-')[1];
                    EY = this.formData.EndMonth.split('-')[0];
                    EM = this.formData.EndMonth.split('-')[1];
                    if(EY<SY || (EY===SY && EM<SM) || EY<SY){
                        this.$message("结束月份不可小于开始月份!");
                        return;
                    }
                    if(this.formData.FeeType =='物业费'){
                        this.formData.Fee = this.calcDiffMonths(SY,SM,EY,EM) * this.StoreInfo.StoreArea * this.SysConf.WYFPrice ;
                        console.log(this.calcDiffMonths(SY,SM,EY,EM));
                        console.log(this.formData.Fee);
                        console.log(this.StoreInfo.StoreArea);
                    }
                }
            },
            calcZJ(){
                if(this.formData.StartMonth!='' &&
                    this.formData.EndMonth!=''
                ){
                    SY = this.formData.StartMonth.split('-')[0];
                    SM = this.formData.StartMonth.split('-')[1];
                    EY = this.formData.EndMonth.split('-')[0];
                    EM = this.formData.EndMonth.split('-')[1];
                    if(EY<SY || (EY===SY && EM<SM) || EY<SY){
                        this.$message("结束月份不可小于开始月份!");
                        return;
                    }
                    if(this.formData.FeeType =='房租'){
                        this.formData.Fee = this.calcDiffMonths(SY,SM,EY,EM) * this.StoreInfo.StoreRental  ;
                        console.log(this.formData.Fee);
                        console.log(this.StoreInfo.StoreArea);
                    }
                }
            }
            ,
            GetStoreInfo(){
                if(this.formData.StoreCode!=''){
                    this.gyAjaxPost("/Index/StoreList/GetStoreInfo",this.formData,
                        function (_this,response) {
                            _this.StoreInfo = response.data;
                        },null);
                }
            },
            GetStoreWYFOrZJNextGiveStartMonth(Type){
                if(this.formData.StoreCode!=''){
                    this.gyAjaxPost("/Index/GiveFee/GetStoreWYFOrZJNextGiveStartMonth",'StoreCode='+this.formData.StoreCode+'&Type='+Type,
                        function (_this,response) {
                            _this.formData.StartMonth = response.data;
                        },null);
                }
            },
            DJXZ(){
                /*
        $StoreCode = input('StoreCode');
        $StoreName = input('StoreName');
        $FeeType   = input('FeeType');
        $Start     = input('Start');
        $End       = input('End');
        $UnitPrice = input('UnitPrice');
        $Num       = input('Num');
        $Fee       = input('Fee');
        $DX        = $this->getamount($Fee);
                */

                SY = this.formData.StartMonth.split('-')[0];
                SM = this.formData.StartMonth.split('-')[1];
                EY = this.formData.EndMonth.split('-')[0];
                EM = this.formData.EndMonth.split('-')[1];
                if(EY<SY || (EY===SY && EM<SM) || EY<SY){
                    this.$message("结束月份不可小于开始月份!");
                    return;
                }

                diffMonth = this.calcDiffMonths(SY,SM,EY,EM);

                if(
                    this.formData.StoreCode=='' || this.StoreInfo.StoreName == '' ||
                    this.formData.FeeType =='' || this.StoreInfo.StartMonth =='' ||
                    this.StoreInfo.EndMonth =='' || this.StoreInfo.StoreArea=='' ||  this.StoreInfo.StoreRental =='' ||
                    this.formData.Fee <=0
                 ){
                    this.$message("请完整填写信息!缴费人除外");
                    return;
                }
                UnitPrice = (this.formData.FeeType=='物业费'?this.SysConf.WYFPrice:this.StoreInfo.StoreRental);
                Num = this.formData.FeeType=='物业费'?diffMonth+ '*' +this.StoreInfo.StoreArea :diffMonth;
                window.location = '/Index/GiveFee/DownWFYOrFZReport?'+'StoreCode='+this.formData.StoreCode
                    +'&StoreName='+this.StoreInfo.StoreName+'&FeeType='+this.formData.FeeType + '&Start='+this.formData.StartMonth
                    + '&End='+this.formData.EndMonth+'&UnitPrice='+UnitPrice
                    +'&Num='+Num + '&Fee='+this.formData.Fee;
            }

        },
        components:{

        }
    })
</script>
</body>
</html>