<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/gyComp/mainstorelist.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>

</head>
<body>
<div id="app">
    <el-row>
        <el-alert
                title="欠费管理"
                type="warning"
                description="本页面用来查看及输入商户的欠费记录"
                :closable="false"
                show-icon>
        </el-alert>
    </el-row>
    <el-row style="margin-top: 7px;margin-left: 20%">
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item label="商户:">
                <el-select filterable size="medium" v-model="formData.StoreCode" placeholder="请选择" @change="OnStoreSelected">
                    <el-option
                            v-for="item in StoreList"
                            :key="item.StoreCode"
                            :label="item.StoreCode+'     '+item.StoreName"
                            :value="item.StoreCode">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="押金:">
                <el-tag effect="dark" type="warning" size="mini"  >{{QKList.YJ}}元</el-tag>
            </el-form-item>
            <el-form-item label="总欠款:">
                <el-tag effect="dark" type="danger" size="mini"  >{{QKList.TotalQK}}元</el-tag>
            </el-form-item>
            <el-form-item label="房租:">
                <el-tag effect="dark" type="danger" size="mini" v-show="QKList.FZQK>0">-{{QKList.FZQK}}元</el-tag>
                <el-tag effect="dark" type="success" size="mini"  v-show="QKList.FZQK<=0">无欠款</el-tag>
            </el-form-item>
            <el-form-item label="物业费:">
                <el-tag effect="dark" type="danger" size="mini" v-show="QKList.WYFQK>0">-{{QKList.WYFQK}}元</el-tag>
                <el-tag effect="dark" type="success" size="mini" v-show="QKList.WYFQK<=0">无欠款</el-tag>
            </el-form-item>
            <el-form-item label="水费:">
                <el-tag effect="dark" type="danger" size="mini" v-show="QKList.SFQK>0">-{{QKList.SFQK}}元</el-tag>
                <el-tag effect="dark" type="success" size="mini" v-show="QKList.SFQK<=0">无欠款</el-tag>
            </el-form-item>
            <el-form-item label="电费:">
                <el-tag effect="dark" type="danger" size="mini" v-show="QKList.DFQK>0">-{{QKList.DFQK}}元</el-tag>
                <el-tag effect="dark" type="success" size="mini" v-show="QKList.DFQK<=0">无欠款</el-tag>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="onDialogShow" >录入</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <el-dialog title="其他欠费记录录入"
               :visible="OtherQFDialogShow"
               width="30%"
               @close="OtherQFDialogShow=false"
    >
        <el-form :inline="false">
            <el-form-item label="店铺:" label-width="100px">
                <el-row>
                    <el-col :span="10">
                        <el-tag effect="dark" type="info">{{StoreInfo.StoreCode+'     '+StoreInfo.StoreName}}</el-tag>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="欠费名目:" label-width="100px">
                <el-row>
                    <el-col :span="20">
                        <el-input v-model="formData.QFSubject" ></el-input>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="欠费金额:" label-width="100px">
                <el-row>
                    <el-col :span="20">
                        <el-input v-model="formData.Fee" ></el-input>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="欠费日期:" label-width="100px">
                <el-row>
                    <el-col :span="20">
                        <el-date-picker
                                v-model="formData.QFDate"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="">
                        </el-date-picker>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="备注:" label-width="100px">
                <el-row>
                    <el-col :span="20">
                        <el-input v-model="formData.Memo" ></el-input>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="录入:" label-width="100px">
                <el-row>
                    <el-col :span="20">
                        <el-button type="warning" @click="QFInput" placeholder="请输入正数!">录入</el-button>
                    </el-col>
                </el-row>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button  @click="OtherQFDialogShow = false">关闭</el-button>
        </div>
    </el-dialog>
    <el-row>
        <el-divider content-position="center">其他欠费记录</el-divider>
    </el-row>
    <el-row>
        <el-table
                :data="QFList"
                stripe
                border
                style="width: 100%"
                :fit="true"
        >
            <el-table-column
                    type="index"
                    label="序号"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="QFSubject"
                    label="名目"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="QFDate"
                    label="欠款日期"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="Fee"
                    label="欠款金额"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="info" size="mini">-{{scope.row.Fee}}元</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="QRRName"
                    label="录入人"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="warning" size="mini">{{scope.row.QRRName}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="QRTime"
                    label="录入日期"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="primary" size="mini">{{scope.row.QRTime}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="Memo"
                    label="备注"
                    width="250">
            </el-table-column>
            <el-table-column
                    prop="QRTime"
                    label="录入时间"
                    width="200"
            >
            </el-table-column>
            <el-table-column
                    prop=""
                    label="删除"
            >
                <template slot-scope="scope">
                    <el-button size="mini" @click="DelOtherQKById(scope.row.id)" type="danger">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

    </el-row>
</div>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                OtherQFDialogShow:false,
                StoreInfo:'',
                formData:{
                    StoreCode:'',
                    QFSubject:'',
                    QFDate:'',
                    Fee:'',
                    Memo:'',
                },
                QKList:{
                  YJ:'',
                  WYFQK:'',
                  FZQK:'',
                  SFQK:'',
                  DFQK:'',
                  OtherQK:''
                },
                StoreList:[],
                QFList:[],
            }
        },
        mounted(){
            this.GetStoreList();
        },
        methods: {
            gyAjaxPost(url,data,onSuccess,onError){
                var _this = this;
                axios({
                    method: 'post',
                    url: url,
                    data: data
                }).then(function(response){
                    onSuccess(_this,response);
                }).catch(function (error) {
                    if(error!=null)
                        onError(_this,error);
                });
            },
            GetStoreList(){
                this.gyAjaxPost("/Index/MainShowList/getStoreList","",
                    function (_this,response) {
                        _this.StoreList  = response.data;
                    },null);
            },
            GetSysConf(){
                this.gyAjaxPost("/Index/SysConf/GetSysConf",this.formData,
                    function (_this,response) {
                        _this.SysConf = response.data;
                    },null);
            }
            ,
            GetStoreInfo(){
                if(this.formData.StoreCode!=''){
                    this.gyAjaxPost("/Index/StoreList/GetStoreInfo",this.formData,
                        function (_this,response) {
                            _this.StoreInfo = response.data;
                        },null);
                }
            },
            onDialogShow(){
                if(this.formData.StoreCode == '' ){
                    this.$message('请先选择商户!');
                    return;
                }
                this.OtherQFDialogShow = true;
            },
            OnStoreSelected(){
                this.GetStoreInfo();
                this.GetQFList();
                this.GetStoreQKInfo();
            },
            QFInput(){
                this.gyAjaxPost("/Index/GiveFee/QFInput",this.formData,
                    function (_this,response) {
                        _this.$message(response.data);
                        if(response.data=='输入成功!'){
                            _this.GetQFList();
                            _this.GetStoreQKInfo();
                            _this.formData.Fee = '';
                            _this.formData.QFSubject  = '';
                            _this.formData.QFDate = '';
                        }
                    },null);
            },
            GetQFList(){
                if(this.formData.StoreCode!=''){
                    this.gyAjaxPost("/Index/GiveFee/GetQFList",this.formData,
                        function (_this,response) {
                            _this.QFList = response.data;
                        },null);
                }
            },
            GetStoreQKInfo(){
                if(this.formData.StoreCode !=''){
                    this.gyAjaxPost("/Index/StoreList/GetStoreQKInfo",this.formData,
                        function (_this,response) {
                            if(response.data!=''){
                                _this.QKList = response.data;
                            }
                        },null);
                }
            },
            DelOtherQKById(id){
                if(this.formData.StoreCode !=''){
                    this.$confirm('确定删除本条欠款记录?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.gyAjaxPost("/Index/GiveFee/DelOtherQKById","id="+id,
                            function (_this,response) {
                                _this.GetQFList();
                                _this.GetStoreQKInfo();
                            },null);
                    }).catch(() => {

                    });

                }
            }
        },
        components:{

        }
    })
</script>
</body>
</html>