<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/gyComp/mainstorelist.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>

</head>
<body>
<div id="app">
    <el-row>
        <el-alert
                title="抄电表"
                type="warning"
                description="本页面用输入商户的的电表电量。"
                :closable="false"
                show-icon>
        </el-alert>
    </el-row>
    <el-row style="margin-top: 7px;margin-left: 20%">
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item label="商户:">
                <el-select filterable size="medium" v-model="formData.StoreCode" placeholder="请选择" @change="OnStoreSelected">
                    <el-option
                            v-for="item in StoreList"
                            :key="item.StoreCode"
                            :label="item.StoreCode+'     '+item.StoreName"
                            :value="item.StoreCode">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="当前电表示数:">
                <el-tag type="success" effect="dark">{{StoreInfo.DFCurrentDU}}</el-tag>
            </el-form-item>
            <el-form-item label="电费截止时度数:">
                <el-tag type="danger" effect="dark">{{StoreInfo.DFDeadDU}}</el-tag>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="DLInputDialogShow=true" >录入</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <el-dialog title="其他欠费记录录入"
               :visible="DLInputDialogShow"
               width="30%"
               @close="DLInputDialogShow=false"
    >
        <el-form :inline="false">
            <el-form-item label="店铺:" label-width="100px">
                <el-row>
                    <el-col :span="10">
                        <el-tag effect="dark" type="info">{{StoreInfo.StoreCode+'     '+StoreInfo.StoreName}}</el-tag>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="末次表数:" label-width="100px">
                <el-row>
                    <el-col :span="20">
                        <el-tag effect="dark" type="primary">{{StoreInfo.DFCurrentDU}}</el-tag>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="电表示数:" label-width="100px">
                <el-row>
                    <el-col :span="20">
                        <el-input v-model="formData.AmmeterView" ></el-input>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="录入:" label-width="100px">
                <el-row>
                    <el-button type="warning" size="small" @click="QLInput">录入</el-button>
                </el-row>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button  @click="DLInputDialogShow = false">关闭</el-button>
        </div>
    </el-dialog>
    <el-row>
        <el-divider content-position="center">抄表记录</el-divider>
    </el-row>
    <el-row>
        <el-table
                :data="tableData"
                stripe
                border
                style="width: 50%;margin-left: 20%"
        >
            <el-table-column
                    type="index"
                    label="序号"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="AmmeterView"
                    label="电表示数"
                    width="200">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="info" size="mini">{{scope.row.AmmeterView}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="AddTime"
                    label="抄表时间"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="AdderName"
                    label="抄表人"
                    width="150">
                <template slot-scope="scope">
                    <el-tag effect="dark" type="warning" size="mini">{{scope.row.AdderName}}</el-tag>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
</div>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                DLInputDialogShow: false,
                formData: {
                    StoreCode: '',
                    AmmeterView: ''
                },
                StoreList: [],
                StoreInfo: {
                    StoreCode: '',
                    StoreName: '',
                    DFCurrentDU:'',
                    DFDeadDU:''
                },
                tableData:[]
            }
        },
        mounted(){
            this.GetStoreList();
        },
        methods: {
            gyAjaxPost(url,data,onSuccess,onError){
                var _this = this;
                axios({
                    method: 'post',
                    url: url,
                    data: data
                }).then(function(response){
                    onSuccess(_this,response);
                }).catch(function (error) {
                    if(error!=null)
                        onError(_this,error);
                });
            },
            GetStoreList(){
                this.gyAjaxPost("/Index/MainShowList/getStoreList","",
                    function (_this,response) {
                        _this.StoreList  = response.data;
                    },null);
            },
            GetSysConf(){
                this.gyAjaxPost("/Index/SysConf/GetSysConf",this.formData,
                    function (_this,response) {
                        _this.SysConf = response.data;
                    },null);
            }
            ,
            GetStoreInfo(){
                if(this.formData.StoreCode!=''){
                    this.gyAjaxPost("/Index/StoreList/GetStoreInfo",this.formData,
                        function (_this,response) {
                            _this.StoreInfo = response.data;
                        },null);
                }
            },
            QLInput(){
                if(this.formData.StoreCode !='' ||
                   this.formData.AmmeterView !=''
                ){
                    this.gyAjaxPost("/Index/DLInput/AmeterInput",this.formData,
                        function (_this,response) {
                            _this.$message(response.data);
                            if(response.data=='OK'){
                                _this.formData.AmmeterView = '';
                            }
                            _this.$message(response.data);
                            _this.GetDLList();
                            _this.GetStoreInfo();
                        },null);
                }
            },
            GetDLList(){
                if(this.formData.StoreCode!=''){
                    this.gyAjaxPost("/Index/DLInput/GetDLList",this.formData,
                        function (_this,response) {
                            _this.tableData = response.data;
                        },null);
                }
            },
            OnStoreSelected(v){
                this.GetStoreInfo();
                this.GetDLList();
            }
        },
        components:{

        }
    })
</script>
</body>
</html>