{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->

    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <!-- import JavaScript -->
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/gyComp/mainstorelist.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <style>
        .el-header {
            background-color:#30A4E7;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;

        }

        .el-main,.el-footer{
            background-color:#ffffff;

        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        html,body,#app,.el-container{
            /*设置内部填充为0，几个布局元素之间没有间距*/
            padding: 0px;
            /*外部间距也是如此设置*/
            margin: 0px;
            /*统一设置高度为100%*/
            height: 100%;
        }

        /*.el-row{
            border: 2px blue dashed;
        }
*/
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="8%">
            <el-row>
                <el-col :span="6" style="margin-top: 0.6%;padding-left: 3%">
                    <img CAFUC="Fuck" style="width: 350px;height:50px;" src="__PUBLIC__/img/logo.png"  />
                </el-col>
                <el-col :span="14" style="margin-top: -35px;padding-top: 0px;">
                    <h2 style="color:white;font-size: 45px;">商户信息管理系统 <span style="font-size:20px;">v180706</span></h2>
                </el-col>
                <el-col :span="4">
                    <el-menu :class="el-menu-demo"
                             mode="horizontal"
                             @select=""
                             background-color="#30A4E7"
                             text-color="white"
                             style="border:#30A4E7;margin-top: 3px; "
                             active-text-color="white"
                             router
                    >
                        <el-submenu index="2">
                            <template slot="title">工作台</template>
                            <el-menu-item  index="/StoreList">商户列表</el-menu-item>
                            <el-menu-item index="2-2"><a href="/DLInput/index" target="_blank">订单管理</a></el-menu-item>
                            <el-menu-item index="2-3">选项3</el-menu-item>
                            <el-submenu index="2-4">
                                <template slot="title">选项4</template>
                                <el-menu-item index="2-4-1">选项1</el-menu-item>
                                <el-menu-item index="2-4-2">选项2</el-menu-item>
                                <el-menu-item index="2-4-3">选项3</el-menu-item>
                            </el-submenu>
                        </el-submenu>
                    </el-menu>
                </el-col>
            </el-row>
        </el-header>
        <el-container>
            <el-container>
                <el-main>
                    <div class="tab-content" id="Tabs">
                        <div class=" tab-pane  no-border padding-24 fade in active" id="tab1">
                            <iframe id="mainIframe" src="/bcair/main?URL=/desktop" frameborder="0" width="100%"></iframe>
                        </div>
                    </div>
                </el-main>
            </el-container>
        </el-container>

    </el-container>
</div>
</body>
<!-- import Vue before Element -->

<script>


    var Vue = new Vue ({
        el:'#app',
        data:{
            tabCnt:1,
        },
        mounted(){
            this.init();
        },
        methods: {

             AddTab(title, url) {

                this.tabCnt++;
                var li = '<li class="" id="li' + this.tabCnt + '"><a data-toggle="tab" href="#tab' + this.tabCnt + '">' + title + '<span style="font-size:smaller;color:#0d6aad;font-weight: bolder;" onclick="CloseTab(' + this.tabCnt + ')"> x</span></a></li>';
                var content = '<div class=" tab-pane  no-border padding-24 fade in " id="tab' + this.tabCnt + '">' +
                    '<iframe src="' + url + '" frameborder="0" width="100%" height="' + (document.documentElement.clientHeight - 51) + '"></iframe> </div>'
                $(li).appendTo("#BTul");
                $(content).appendTo("#Tabs");

                for (i = 1; i < tabCnt; i++) {
                    $('#li' + i).removeClass("active");
                    $('#tab' + i).removeClass("active");
                }

                $('#li' + tabCnt).addClass("active");
                $('#tab' + tabCnt).addClass("active");
            },

            CloseTab(tabNum) {
                console.log(tabNum);
                console.log(tabNum - 1);
                for (i = 1; i <= tabCnt; i++) {
                    $('#li' + i).removeClass("active");
                    $('#tab' + i).removeClass("active");
                }
                $('#li' + tabNum).remove();
                $('#tab' + tabNum).remove();

                while ($('#li' + (tabNum - 1)).length == 0 && tabNum > 1) {
                    tabNum--;
                }

                $('#li' + (tabNum - 1)).addClass("active");
                $('#tab' + (tabNum - 1)).addClass("in active");
            },
            init(){
                window.onload = function () {
                    this.autoIframeHeight()
                };
                window.onresize = function () {
                    this.autoIframeHeight()
                };
            },

            // 切换iframe内容
            changeIfmSrc(e)
            {
                /*autoIframeHeight();
                        var src = e.getAttribute('data-src');
                        document.getElementById('mainIframe').setAttribute('src',src)*/
                var src = e.getAttribute('data-src');
                var title = $(e).text();
                AddTab(title, src);
            },
            // iframe高度自适应
            autoIframeHeight()
            {
                var clientHeight = document.documentElement.clientHeight - 51
                document.getElementById('mainIframe').setAttribute('height', clientHeight)
            }
    }});



</script>
</html>