<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .table>tbody>tr:hover {

        }
    </style>
</head>
<body>
<form id ="mForm" method="post" action="/Index/MainShowList/Index.html">
    {neq name="Warning" value=""}
        <div class="form-group">
            <div class="col-sm-12">
                <div class="alert alert-danger" role="alert"><strong>提示：</strong>{$Warning}</div>
            </div>
        </div>
    {/neq}
    <div class="form-inline" style="">
        <div class="form-group">
            <label for="StoreCode">店铺代码：</label>
            <input type="text" name="StoreCode" class="form-control"  id="StoreCode" value="{$Request.param.StoreCode}" >
            <label for="StoreName">店铺名称：</label>
            <input type="text" name="StoreName" class="form-control"  id="StoreName" value="{$Request.param.StoreName}">
            <label for="StoreOwner">商户：</label>
            <input type="text" name="StoreOwner" class="form-control"  id="StoreOwner"  value="{$Request.param.StoreOwner}">
            <label for="ContactCode">合同编号：</label>
            <input type="text" name="ContactCode" class="form-control"  id="ContactCode"   value="{$Request.param.ContactCode}">
        </div>
        <div class="form-group">
            <label for="StoreAddr">位置：</label>
            <select id="StoreAddr" name ="StoreAddr" class="form-control">
                <option value=""></option>
                {volist name = "StoreAddr" id = "vo"}
                    <option value="{$vo.AddrCode}">{$vo.AddrInfo}</option>
                {/volist}
            </select>
        </div>
        <div class="form-group">
            <label for="Orderby">排序：</label>
            <select id="Orderby" name ="Orderby" class="form-control">
                <option value=""></option>
                <option value="房租剩余天数">房租剩余天数</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success" style="margin-left: 20px;">筛选</button>

    </div>
    <hr/>
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg" style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title" id="myModalLabel">租金缴纳</h5>
                </div>
                <div class="modal-body">
                    <iframe id = "frm1" src="" width="98%" border="0" frameborder="0px" height="500px;"  scrolling="vertical"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
            <table class="table table-hover table-bordered bootstrap-datatable datatable responsive">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>店铺名称</th>
                    <th>位置</th>
                    <th>商户</th>
                    <th>联系方式</th>
                    <th>店铺面积</th>
                    <th>店铺租金</th>
                    <th>房租剩余天数</th>
                    <th>水电物业费</th>
                    <th>合同编号</th>
                    <th>合同签订时间</th>
                    <th>房租缴纳</th>
                    <th>信息修改</th>
                    <th>电量输入</th>
                    <th>水电物业费</th>
                </tr>
                </thead>
                <tbody>
                {volist name="StoreList" id="vo"}
                <tr>
                    <td>
                        {$vo.StoreCode}
                    </td>
                    <td>
                        {$vo.StoreName}
                    </td>
                    <td>
                        {$vo.StoreAddr}
                    </td>
                    <td>
                        {$vo.StoreOwner}
                    </td>
                    <td>
                        {$vo.Tel}
                    </td>
                    <td>
                        {$vo.StoreArea}
                    </td>
                    <td>
                       <a ShowMyOrentalLog href="#myModal" data-toggle="modal" data-target="#myModal"  rowId = {$vo.id}>{$vo.StoreRental}元/月</a>
                    </td>

                    <td>
                        <label class="label
                        {if condition="$vo.LeftDays >= $SysConf.GreenDeadDay "}
                        label-success
                        {elseif condition="($vo.LeftDays < $SysConf.GreenDeadDay) AND ($vo.LeftDays >= $SysConf.YellowDeadDay)"/}label-warning
                        {elseif condition="($vo.LeftDays < $SysConf.YellowDeadDay)" /} label-danger
                        {/if}
                            ">{$vo.LeftDays}天</label>
                    </td>
                    <td>

                    </td>
                    <td>
                        {$vo.ContactCode}
                    </td>
                    <td>
                        {$vo.ContactDate}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-{if condition="$vo.State==0"}warning
                            {elseif condition="$vo.State==1"/}danger
                            {else/}success
                            {/if}" name="FillBtn" href="#myModal" data-toggle="modal" data-target="#myModal" rowId = "{$vo.id}">{if condition="$vo.State==0"}待确认
                        {elseif condition="$vo.State==1"/}被驳回
                        {else/}交房租
                        {/if}</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm">信息修改</a>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" ShowDLInput href="#myModal" rowId = {$vo.StoreCode} data-toggle="modal" data-target="#myModal">电量输入</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" ShowFEEInput rowId = {$vo.StoreCode} >交费</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>



</form>
<script>
$(function () {
    $('#myModal').on('hidden.bs.modal', function (e) {
        //location.href = $("#mForm").attr("action");
        $("#mForm").submit();
    });
    $("a[name='FillBtn']").bind('click',function () {
        $("#frm1").attr("src","/Index/GiveOrental/Index/id/"+ ""+$(this).attr("rowId"));

    });
    $("a[ShowMyOrentalLog]").bind('click',function () {
        $("#frm1").attr("src","/Index/StoreOrentalLog/index/id/"+ ""+$(this).attr("rowId"));
    });
    $("a[ShowDLInput]").bind('click',function () {
        $("#frm1").attr("src","/Index/DLInput/index/StoreCode/"+ ""+$(this).attr("rowId"));
    });
    $("a[ShowFEEInput]").bind('click',function () {
        var d = dialog({
            title: '费用缴纳',
            url: "/Index/GiveFee/index/StoreCode/"+ ""+$(this).attr("rowId"),
            width:1000,
            height:600,
        });
        d.showModal();
    });
});
</script>
</body>
</html>