<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/gyComp/mainstorelist.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<div id="app">
    <mainstorelist></mainstorelist>
</div>
<script>
    var Vue = new Vue ({
            el:'#app',
            data:{},
            components:{
                mainstorelist:mainstorelist.default,
            }
        }
    );
</script>
</body>
</html>