<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/gyComp/mainstorelist.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<div id="app">
    <div>
        <el-row>
            <el-form :inline="true" class="demo-form-inline">
                <el-form-item label="场馆位置:">
                    <el-select allow-create size="medium" v-model="formData.StoreAddr" placeholder="请选择">
                        <el-option
                                v-for="item in StoreAddrList"
                                :key="item.AddrCode"
                                :label="item.AddrCode"
                                :value="item.AddrCode">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="商铺代码:">
                    <el-input v-model="formData.StoreCode" style="width:150px;" size="medium" ></el-input>
                </el-form-item>
                <el-form-item label="店铺名称:">
                    <el-input v-model="formData.StoreName" style="width:150px;" size="medium" > </el-input>
                </el-form-item>
                <el-form-item label="商户名:">
                    <el-input v-model="formData.StoreOwner" style="width:150px;" size="medium" > </el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit" >查询</el-button>
                </el-form-item>
                <el-form-item>
                    <a href="#"  style="margin-left: 10px;" @click="GJSearchDiagShow = true">高级查询条件....</a>
                </el-form-item>
                <el-form-item>
                    <a href="/Index/MainShowList/ExpStoreList"  style="margin-left: 10px;" >全部导出</a>
                </el-form-item>
            </el-form>
        </el-row>

        <el-dialog title="高级搜索条件"
                   :visible="GJSearchDiagShow"
                   width="45%"
                   @close="GJSearchDiagShow=false"
        >
            <el-form :inline="false">
                <el-form-item label="合同编号:" label-width="100px">
                    <el-row>
                        <el-col :span="10">
                            <el-input v-model="formData.ContactCode"></el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="房租到期:" label-width="100px">
                    <el-row>
                        <el-col :span="10">
                            <el-date-picker
                                    v-model="formData.FZDQStart"
                                    type="date"
                                    placeholder="开始日期">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="10" :offset="4">
                            <el-date-picker
                                    v-model="formData.FZDQEnd"
                                    type="date"
                                    placeholder="结束日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="物业费到期:" label-width="100px">
                    <el-row>
                        <el-col :span="10">
                            <el-date-picker
                                    v-model="formData.WYFDQStart"
                                    type="date"
                                    placeholder="开始日期">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="10" :offset="4">
                            <el-date-picker
                                    v-model="formData.WYFDQEnd"
                                    type="date"
                                    placeholder="结束日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </el-form-item>
                <!--el-form-item label="水费到期:" label-width="100px">
                    <el-row>
                        <el-col :span="10">
                            <el-date-picker
                                    v-model="formData.SFDQStart"
                                    type="date"
                                    placeholder="开始日期">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="10" :offset="4">
                            <el-date-picker
                                    v-model="formData.SFDQEnd"
                                    type="date"
                                    placeholder="结束日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="电费到期:" label-width="100px">
                    <el-row>
                        <el-col :span="10">
                            <el-date-picker
                                    v-model="formData.DFDQStart"
                                    type="date"
                                    placeholder="开始日期">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="10" :offset="4">
                            <el-date-picker
                                    v-model="formData.DFDQEnd"
                                    type="date"
                                    placeholder="结束日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </el-form-item-->
                <el-form-item label="合同签订日期:" label-width="100px">
                    <el-row>
                        <el-col :span="10">
                            <el-date-picker
                                    v-model="formData.HTQDStart"
                                    type="date"
                                    placeholder="开始日期">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="10" :offset="4">
                            <el-date-picker
                                    v-model="formData.HTQDEnd"
                                    type="date"
                                    placeholder="结束日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="合同截止日期:" label-width="100px">
                    <el-row>
                        <el-col :span="10">
                            <el-date-picker
                                    v-model="formData.HTJZStart"
                                    type="date"
                                    placeholder="开始日期">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="10" :offset="4">
                            <el-date-picker
                                    v-model="formData.HTJZDQEnd"
                                    type="date"
                                    placeholder="结束日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button  @click="GJSearchDiagShow = false">关闭</el-button>
            </div>
        </el-dialog>
        <el-row>
            <el-table
                    v-loading="loading"
                    :data="tableData"
                    :height="tableHeight"
                    @sort-change="onsort"
                    stripe
                    border
                    style="width: 140%;"
            >
                <el-table-column
                        type="index"
                        label="序号"
                        width="50">
                </el-table-column>

                <el-table-column
                        prop="StoreCode"
                        label="店铺代码"
                        sortable
                        width="110">
                </el-table-column>
                <el-table-column
                        prop="StoreName"
                        label="店铺名称"
                        sortable
                        width="150">
                    <template slot-scope="scope">
                        <el-tag type="info" effect="dark" size="mini">{{scope.row.StoreName}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="StoreOwner"
                        label="商户"
                        sortable
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="Tel"
                        label="联系方式"
                        sortable
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="StoreArea"
                        label="面积"
                        sortable
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="StoreRental"
                        label="租金"
                        sortable
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="FZDeadDate"
                        label="房租到期"
                        sortable
                        width="110">
                    <template slot-scope="scope">
                        <el-tag :type="CalcFYTagType(scope.row.ZJLeftDays)" effect="dark" size="mini">{{scope.row.FZDeadDate}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="WYFDeadDate"
                        label="物业费到期"
                        sortable
                        width="120">
                    <template slot-scope="scope">
                        <el-tag :type="CalcFYTagType(scope.row.WYFLeftDays)" effect="dark" size="mini">{{scope.row.WYFDeadDate}}</el-tag>
                    </template>
                </el-table-column>
                <!--el-table-column
                        prop="SFDeadDate"
                        label="水费到期"
                        sortable
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="DFDeadDate"
                        label="电费到期"
                        sortable
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="DFCurrentDU"
                        label="当前电表示数"
                        sortable
                        width="180">
                </el-table-column-->
                <el-table-column
                        prop="YJ"
                        width="80"
                        sortable
                        label="押金">
                </el-table-column>
                <el-table-column
                        prop="TotalQK"
                        width="90"
                        sortable
                        label="欠款">
                    <template slot-scope="scope">
                        <el-tag :type="CalcQKColor(scope.row.TotalQK,scope.row.YJ)" effect="dark" size="mini">-{{scope.row.TotalQK}}元</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="ContactDate"
                        width="130"
                        sortable
                        label="合同签订日期">
                </el-table-column>
                <el-table-column
                    prop="ContactEndDate"
                    width="130"
                    sortable
                    label="合同到期日期">
                </el-table-column>
                <el-table-column
                        prop="ContactCode"
                        width="110"
                        sortable
                        label="合同编号">
                </el-table-column>
            </el-table>
        </el-row>
        <el-row>
        </el-row>
    </div>


</div>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                GJSearchDiagShow:false,
                formData:{
                    StoreAddr : '',
                    StoreCode : '',
                    StoreName : '',
                    StoreOwner: '',
                    ContactCode:'',
                    FZDQStart:'',
                    FZDQEnd:'',
                    WYFDQStart:'',
                    WYFDQEnd:'',
                    SFDQStart:'',
                    SFDQEnd:'',
                    DFDQStart:'',
                    DFDQEnd:'',
                    HTJZStart:'',
                    HTJZEnd:'',
                    HTQDStart:'',
                    HTQDEnd:''
                },
                SysConf:{
                    GreenDeadDay:30,
                    YellowDeadDay:15,
                    OrentalT:3,
                    DFPrice:1.2,
                    WYFPrice:1.5,
                    QKYJBL:0.6,
                },
                currentPage:0,
                tableHeight:300,
                loading:false,
                tableData:[],
                total:0,
                StoreAddrList:[]
            }
        },
        created(){
            this.tableHeight = window.innerHeight  - 180;
            this.GetSysConf();
            this.GetStoreList();
            this.GetStoreAddrList();
        },
        computed:{
            calcMaxHeight(){
                if(this.cinvcodeqry!=undefined && this.cinvcodeqry!=null && this.cinvcodeqry!=''){
                    console.log('550px');
                    return '550px';
                }else{
                    return '';
                }
            }
        },
        methods: {
            gyAjaxPost(url, data, onSuccess, onError) {
                var _this = this;
                axios({
                    method: 'post',
                    url: url,
                    data: data
                }).then(function (response) {
                    onSuccess(_this, response);
                }).catch(function (error) {
                    if (error != null)
                        if (onError != null) {
                            onError(_this, error);
                        }
                });
            },
            GetStoreList() {
                this.loading = true;
                this.gyAjaxPost("/Index/MainShowList/StoreQry", this.formData,
                    function (_this, response) {
                        console.log(JSON.stringify(response.data));
                        _this.tableData = response.data;
                        _this.loading = false;
                    }, null);
            },
            GetSysConf() {
                this.gyAjaxPost("/Index/SysConf/GetSysConf", this.formData,
                    function (_this, response) {
                        _this.SysConf = response.data;
                    }, null);
            },
            CalcFYTagType(leftDays) {
                if (leftDays >= this.SysConf.GreenDeadDay) {
                    return "success";
                } else if (leftDays >= this.SysConf.YellowDeadDay) {
                    return "warning";
                } else {
                    return "danger";
                }
            },
            onSubmit() {
                this.GetStoreList();
            },
            onsort() {

            },
            CalcQKColor(QK,YJ){
                if(QK/YJ>=this.SysConf.QKYJBL){
                    return 'danger';
                }else{
                    return 'warning';
                }
            },
            GetStoreAddrList(){
                this.gyAjaxPost("/Index/StoreAddrList/GetStoreAddrList",1,
                    function (_this, response) {
                        _this.StoreAddrList = response.data;
                    }, null);
            }
        }
    });
</script>
</body>
</html>