<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手工添加航班</title>
    <style>
      #Adult #Children #Baby #GoStation  {
            float: left;
            clear: left;
            width: 200px;
            margin: 15px;
        }
      html { overflow-x:hidden; }
        .myInput{
            width: 55px;
            text-align: center;
            margin-left: 12px;
        }

    </style>

</head>
<body class="container-fluid　ui-widget-content">
<form id="mForm" class="form-horizontal" role="form" enctype="application/x-www-form-urlencoded" method="post" action="{url('Index/StoreList/AddStore')}">
    <div class="alert alert-info" role="alert" style="margin-top: 10px;">
        <div class=""><strong>提示：</strong>店铺信息录入。</div>
    </div>

    <div class="col-sm-10 col-sm-offset-1">
    <div style="margin-top: 10px">

        <div class="form-group">
            <label for="Airline" class="col-sm-2 control-label">商铺编号:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Airline"  name="Airline" placeholder="" value="">
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="FlightNo" class="control-label">商铺名称:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" id = "FlightNo" type="number"  class="form-control"  name="FlightNo" placeholder="" value="{$FlightNo}">
            </div>


        </div>

        <div class="form-group">
            <label for="Origin" class="col-sm-2 control-label">业主姓名:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="Origin" name="Origin"  placeholder=""  value=""/>
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="AirplaneModel" class="control-label">联系方式:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" id = "AirplaneModel" type="text"  class="form-control"  name="AirplaneModel" placeholder="可以写多个联系方式，以逗号隔开" value=""/>
            </div>

        </div>

        <div class="form-group">
            <label for="AirplaneNo" class="col-sm-2 control-label">商铺面积:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="AirplaneNo"  name="AirplaneNo" placeholder="" value="" >
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="SeatsCount" class=" control-label">商铺房租:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="SeatsCount"  name="SeatsCount" placeholder="租金，单位:元" value="" >
            </div>
        </div>
        <div class="form-group">
            <label for="AirplaneNo" class="col-sm-2 control-label">上次交租时间:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="AirplaneNo"  name="AirplaneNo" placeholder="" value="" >
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="SeatsCount" class=" control-label">缴纳周期:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="SeatsCount"  name="SeatsCount" placeholder="" value="3个月" readonly/>
            </div>
        </div>
        <div class="form-group">
            <label for="AirplaneNo" class="col-sm-2 control-label">合同签订日期:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="AirplaneNo"  name="AirplaneNo" placeholder="" value="" >
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="SeatsCount" class=" control-label">合同编号:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="SeatsCount"  name="SeatsCount" placeholder="" >
            </div>
        </div>
        <div class="form-group">
            <label for="AirplaneNo" class="col-sm-2 control-label">合同扫描件:</label>
            <div class="col-sm-4">
                <input type="file" name="RentalFile">
            </div>

        </div>
    </div>
    </div>

        <div class="col-sm-12">
            <hr/>
        </div>
        <div class="form-group ">
            <div class="col-sm-10 col-sm-offset-2">
                <button id="SaveBtn" class="btn btn-primary"  style="margin-left:25%;">保存</button>
                <button id="ClearBtn" class="btn btn-danger" style="margin-left: 20%;">重填</button>
            </div>
        </div>

    </form>

</body>
<script>





</script>
</html>