<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>店铺添加与修改</title>

</head>
<body class="container-fluid　ui-widget-content">
<form id="mForm" class="form-horizontal" role="form" enctype="multipart/form-data" method="post" action="/Index/StoreList/AddStore.html">
    <div class="alert alert-info" role="alert" style="margin-top: 10px;">
        <div class=""><strong>提示：</strong>店铺信息录入。</div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-0 col-sm-12">
            {neq name="Warning" value=""}
                <div class="alert alert-warning" role="alert"><strong>提示：</strong>{$Warning}</div>
            {/neq}
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
    <div style="margin-top: 10px">

        <div class="form-group">
            <label for="StoreCode" class="col-sm-2 control-label" style="color: red">商铺编号:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="StoreCode"  name="StoreCode" placeholder="" value="">
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="StoreName" class="control-label">商铺名称:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" id = "StoreName" type="number"  class="form-control"  name="StoreName" placeholder="" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="StoreOwner" class="col-sm-2 control-label">商户姓名:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="StoreOwner" name="StoreOwner"  placeholder=""  value=""/>
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="Tel" class="control-label">联系方式:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" id = "Tel" type="text"  class="form-control"  name="Tel" placeholder="可以写多个联系方式，以逗号隔开" value=""/>
            </div>

        </div>

        <div class="form-group">
            <label for="StoreArea" class="col-sm-2 control-label">商铺面积:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="StoreArea"  name="StoreArea" placeholder="店铺面积,单位:平方米" value="" >
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="StoreRental" class=" control-label">商铺房租:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="StoreRental"  name="StoreRental" placeholder="租金，单位:元" value="" >
            </div>
        </div>
        <div class="form-group">
            <label for="NextGiveDate" class="col-sm-2 control-label" style="color: blue">房租到期时间:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="NextGiveDate"  name="NextGiveDate" placeholder="" value="" >
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="RentalT" class=" control-label">缴纳周期:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="RentalT"  name="RentalT" placeholder="" value="3个月" readonly/>
            </div>
        </div>
        <div class="form-group">
            <label for="ContactDate" class="col-sm-2 control-label">合同签订日期:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="ContactDate"  name="ContactDate" placeholder="" value="" >
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="ContactCode" class=" control-label">合同编号:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="ContactCode"  name="ContactCode" placeholder="" >
            </div>
        </div>
        <div class="form-group">
            <label for="StoreAddr" class="col-sm-2 control-label">店铺位置:</label>
            <div class="col-sm-4">
                <select class="form-control" name="StoreAddr" id="StoreAddr">
                    {volist name="StoreAddrList" id = "vo"}
                    <option value="{$vo.AddrCode}">{$vo.AddrCode}---{$vo.AddrInfo}</option>
                    {/volist}
                </select>
            </div>
            <div class="col-sm-1" style="width: 100px;">
                <label for="ContactFile" class=" control-label">合同文件:</label>
            </div>
            <div class="col-sm-4">
                <input type="file" id="ContactFile" name="ContactFile"/>
            </div>
        </div>
    </div>
    </div>

        <div class="col-sm-12">
            <hr/>
        </div>
        <div class="form-group ">
            <div class="col-sm-10 col-sm-offset-2">
                <button id="SaveBtn" class="btn btn-primary"  style="margin-left:25%;">保存</button>
                <button id="ClearBtn" class="btn btn-danger" style="margin-left: 20%;">重填</button>
            </div>
        </div>

    </form>

</body>
<script>





</script>
</html>