<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/el-ui.css">
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/axios.min.js"></script>
    <script src="__PUBLIC__/js/el-index.js"></script>
    <script src="__PUBLIC__/js/vue-router.js"></script>
    <script src="__PUBLIC__/js/gyComp/mainstorelist.js"></script>
    <script src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<div id="app">
    <div>
        <el-row>
            <el-alert
                    title="修改商铺"
                    type="warning"
                    description="本页面用来手工修改商铺信息。"
                    :closable="false"
                    show-icon>
            </el-alert>
        </el-row>

        <el-row style="margin-top: 10px;">
            <el-col :span="12" :offset="6">
                <el-form label-width="120px">
                    <el-form-item label="商户:">
                        <el-select filterable size="medium" v-model="formData.StoreCode" placeholder="请选择" @change="OnStoreSelected">
                            <el-option
                                    v-for="item in StoreList"
                                    :key="item.StoreCode"
                                    :label="item.StoreCode+'     '+item.StoreName"
                                    :value="item.StoreCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="店铺名称:">
                        <el-input v-model="formData.StoreName"></el-input>
                    </el-form-item>
                    <el-form-item label="商户名称:">
                        <el-input  v-model="formData.StoreOwner"></el-input>
                    </el-form-item>
                    <el-form-item label="联系方式:">
                        <el-input v-model="formData.Tel"></el-input>
                    </el-form-item>
                    <el-form-item label="商铺面积:">
                        <el-input v-model="formData.StoreArea"></el-input>
                    </el-form-item>
                    <el-form-item label="所在场馆:">
                        <el-input v-model="formData.StoreAddr"></el-input>
                    </el-form-item>
                    <el-form-item label="每月房租:">
                        <el-input  v-model="formData.StoreRental"></el-input>
                    </el-form-item>
                    <el-form-item label="房租到期日期:">
                        <el-date-picker
                                v-model="formData.FZDeadDate"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="电费到期日期:">
                        <el-date-picker
                                v-model="formData.DFDeadDate"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="电费到期时度数:">
                        <el-input v-model="formData.DFDeadDU"></el-input>
                    </el-form-item>
                    <el-form-item label="最后抄表日期:">
                        <el-date-picker
                                v-model="formData.DFCurrentDUDate"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="最后抄表示数:">
                        <el-input v-model="formData.DFCurrentDU"></el-input>
                    </el-form-item>
                    <el-form-item label="水费到期日期:">
                        <el-date-picker
                                v-model="formData.SFDeadDate"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="物业费到期日期:">
                        <el-date-picker
                                v-model="formData.WYFDeadDate"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="">
                        </el-date-picker>

                    </el-form-item>
                    <el-form-item label="合同编号:">
                    <el-input v-model="formData.ContactCode"></el-input>
                    </el-form-item>
                    <el-form-item label="合同签订日期:">
                        <el-date-picker
                                v-model="formData.ContactDate"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="押金:">
                        <el-input v-model="formData.YJ"></el-input>
                    </el-form-item>

                </el-form>
                <el-row>
                    <el-col :offset="12">
                        <el-button type="success" @click="MdfStore">
                            保存
                        </el-button>
                    </el-col>

                </el-row>
            </el-col>


        </el-row>


    </div>


</div>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                GJSearchDiagShow:false,
                formData:{
                    StoreAddr : '',
                    StoreCode : '',
                    StoreName : '',
                    StoreOwner: '',
                    ContactCode:'',
                    Tel:'',
                    FZDeadDate:'',
                    StoreArea:'',
                    StoreRental:'',
                    ContactDate:'',
                    SFDeadDate:'',
                    DFDeadDU:'',
                    DFCurrentDU:'',
                    DFCurrentDUDate:'',
                    DFDeadDate:'',
                    WYFDeadDate:'',
                    GivingSDWYF:'',
                },
                SysConf:{
                    GreenDeadDay:30,
                    YellowDeadDay:15,
                    OrentalT:3,
                    DFPrice:1.2,
                    WYFPrice:1.5,
                    QKYJBL:0.6,
                },
                currentPage:0,
                tableHeight:300,
                loading:false,
                tableData:[],
                total:0,
                StoreList:[]
            }
        },
        created(){
            this.GetSysConf();
            this.GetStoreList();
        },
        computed:{
            calcMaxHeight(){
                if(this.cinvcodeqry!=undefined && this.cinvcodeqry!=null && this.cinvcodeqry!=''){
                    console.log('550px');
                    return '550px';
                }else{
                    return '';
                }
            }
        },
        methods: {
            gyAjaxPost(url, data, onSuccess, onError) {
                var _this = this;
                axios({
                    method: 'post',
                    url: url,
                    data: data
                }).then(function (response) {
                    onSuccess(_this, response);
                }).catch(function (error) {
                    if (error != null)
                        if (onError != null) {
                            onError(_this, error);
                        }
                });
            },
            GetStoreList() {
                this.loading = true;
                this.gyAjaxPost("/Index/MainShowList/StoreQry", this.formData,
                    function (_this, response) {
                        console.log(JSON.stringify(response.data));
                        _this.StoreList = response.data;
                        _this.loading = false;
                    }, null);
            },
            GetSysConf() {
                this.gyAjaxPost("/Index/SysConf/GetSysConf", this.formData,
                    function (_this, response) {
                        _this.SysConf = response.data;
                    }, null);
            },
            CalcFYTagType(leftDays) {
                if (leftDays >= this.SysConf.GreenDeadDay) {
                    return "success";
                } else if (leftDays >= this.SysConf.YellowDeadDay) {
                    return "warning";
                } else {
                    return "danger";
                }
            },
            onSubmit() {
                this.GetStoreList();
            },
            onsort() {

            },
            CalcQKColor(QK,YJ){
                if(QK/YJ>=this.SysConf.QKYJBL){
                    return 'danger';
                }else{
                    return 'warning';
                }
            },
            OnStoreSelected(){
                this.gyAjaxPost("/Index/StoreList/GetStoreInfo", this.formData,
                    function (_this, response) {
                        _this.formData = response.data;
                    }, null);
            },
            MdfStore(){
                this.gyAjaxPost("/Index/StoreList/MdfStore", this.formData,
                    function (_this, response) {
                        if(response.data=='OK'){
                            _this.$message('修改成功!');
                            _this.GetStoreInfo();
                        }else{
                            _this.$message('修改失败!!!');
                        }
                    }, null);
            }
        }
    });
</script>
</body>
</html>