
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

</head>
<body>
<div class="container-full">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            {neq name="Warning" value=""}<div class="alert alert-danger" role="alert"><strong>提示：</strong>{$Warning}</div>{/neq}
        </div>
    </div>

    <div class="row">

        <ul class="list-group">
            <li class="list-group-item list-group-item-success">当前任务：</li>
            {volist name="TaskList" id="vo"}
                <a TabLi="li{$vo.id}" href="/SafetyMng/TaskList/showMBTaskDetail/TaskID/{$vo.id}.html" class="list-group-item"><h4>{++$ASC2}.{$vo.TaskName}</h4>
                    <p style="font-size: smaller;">类型:<span style="font-weight: bold;margin-right: 30px;">
                    {php}
                                $TC = new app\safetymng\controller\TaskCore;
                                $color = "";
                                if($vo["TaskType"]== $TC::QUESTION_SUBMITED ){
                                    $color = "label-default";
                                }else if($vo["TaskType"]==$TC::QUESTION_REFORM){
                                    $color = "label-danger";
                                }else if($vo["TaskType"]==$TC::REFORM_SUBTASK){
                                    $color = "label-danger";
                                }else if($vo["TaskType"]==$TC::QUESTION_FAST_REFORM){
                                    $color = "label-warning";
                                }
                                echo  "<label class=\"label ".$color."\">".$vo["TaskType"]."</span>";
                        {/php}</span>状态:<span style="font-weight: bold;">{$vo.Status}</span></p>
                    <p style="font-size: smaller;">来自:<span style="font-weight: bold;margin-right: 30px;">{$vo.SenderCorp}({$vo.SenderName})</span>创建时间:<span style="font-weight: bold;">{$vo.CreateTime}</span></p>
                </a>
            {/volist}
        </ul>
    </div><!--/fluid-row-->



</div><!--/.fluid-container-->
</body>
<script>

</script>
</html>