{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link id="bs-css" href="__PUBLIC__/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/charisma-app.css" rel="stylesheet">
    <link href='__PUBLIC__/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='__PUBLIC__/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='__PUBLIC__/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='__PUBLIC__/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='__PUBLIC__/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/jquery.noty.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/noty_theme_default.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/elfinder.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/elfinder.theme.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/uploadify.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/animate.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/doc.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/MyCss.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/jquery-ui.min.css' rel='stylesheet'>

    <!-- library for cookie management -->
    <script src="__PUBLIC__/js/jquery.cookie.js"></script>
    <!-- calender plugin -->

    <!-- data table plugin -->
    <script src='__PUBLIC__/js/jquery.dataTables.min.js'></script>

    <!-- select or dropdown enhancer -->
    <script src="__PUBLIC__/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="__PUBLIC__/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="__PUBLIC__/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="__PUBLIC__/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="__PUBLIC__/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="__PUBLIC__/js/jquery.raty.min.js"></script>
    <script src="__PUBLIC__/js/moment.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="__PUBLIC__/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="__PUBLIC__/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="__PUBLIC__/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="__PUBLIC__/js/jquery.history.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <script type="text/javascript" src="__PUBLIC__/ckeditor/ckeditor.js"></script>
    <script src="__PUBLIC__/js/gyComm.js"></script>
    <script src="__PUBLIC__/js/jquery-ui.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <link href="__PUBLIC__/css/select2.min.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/select2.min.js"></script>
</head>
<meta charset="UTF-8">
<title></title>
<style>
    .select2-container .select2-selection--single{
        height:34px;
        line-height: 34px;
    }
</style>
</head>
<body>
<form id ="mForm" method="post" action="/SafetyMng/Reform/index.html">
    <div class="col-sm-offset-1 col-sm-10" style="margin-top: 10px;">
        {neq name="Warning" value=""}
        <div class="form-group">
            <div class="col-sm-12">
                <div class="alert alert-danger" role="alert"><strong>提示：</strong>{$Warning}</div>
            </div>
        </div>
        {/neq}
        <input type="hidden" name="ReformIDHid"   value="{$ReformID}"/>
        <input type="hidden" name="QuestionIDHid" value="{$QuestionID}"/>
        <h3 style="text-align: center;color: #ac2925 ">不符合项整改/通知单</h3>
            <hr/>
        <table border="1" class="col-sm-12">
            <tr>
                <td style="width: 150px;">
                    <span style="font-size: medium;color: #00A000;">问题来源:</span>
                </td>
                <td colspan="1" style="width: 40%">
                    <select class="form-control js-example-basic-multiple js-states " name="QuestionSource" id="QuestionSource">
                        <option ></option>
                        {volist name="QuestionSourceList" id="vo"}
                        <option value="{$vo.CodePre}">{$vo.SourceName}</option>
                        {/volist}
                    </select>
                </td>
                <td>
                    <span style="font-size: medium;color: #00A000;">编号:</span>
                </td>
                <td >
                    <span style="font-size: medium;font-weight: bolder;">
                        {$Reform.Code}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-size: medium;color: #00A000;">责任单位:</span>
                </td>
                <td style="width: 40%">
                    <select class="form-control js-example-basic-multiple js-states " multiple="multiple" name="DutyCorps" id="DutyCorps">
                        <option ></option>
                        {volist name="CorpList" id="vo"}
                            <option value="{$vo.Corp}">{$vo.Corp}</option>
                        {/volist}
                    </select>
                </td>
                <td style="width: 150px;">
                    <span style="font-size: medium;color: #00A000;">检查日期:</span>
                </td>
                <td>
                    <input class="form-control" type="date"/>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-size: medium;color: #00A000;">关联问题:</span>
                </td>
                <td style="width: 40%">
                    <a href="#"><span style="font-size: medium;">{$QuestionTitle}</span></a>
                </td>
                <td style="width: 100px;">
                    <span style="font-size: medium;color: #00A000;">督查员:</span>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-size: medium;color: #00A000;">下发日期:</span>
                </td>
                <td style="width: 40%">
                    <span style="font-size: medium;font-weight: bold; ">
                        {eq name="$Reform.IssueDate" value=""}
                            {$Today}
                        {/eq}
                    </span>
                </td>
                <td style="width: 100px;">
                    <span style="font-size: medium;color: red;">要求反馈日期:</span>
                </td>
                <td>
                    <input class="form-control" type="date"/>
                </td>
            </tr>
            <tr>
                <td >
                    <span style="font-size: medium;color: #00A000;">不符合项描述:</span>
                </td>
                <td colspan="3">
                    <textarea id="summernote" summernote name="NonConfirmDesc">{$NonConfirmDesc}</textarea>
                </td>
            </tr>
            <tr>
                <td >
                    <span style="font-size: medium;color: #00A000;">依据:</span>
                </td>
                <td colspan="3">
                    <input class="form-control" />
                </td>
            </tr>
            <tr>
                <td >
                    <span style="font-size: medium;color: #00A000;">整改要求:</span>
                </td>
                <td colspan="3">
                    <span style="font-size: medium;">要求责任单位:    <span style=""><input type="checkbox"> 分析原因</span><span style="">     <input type="checkbox"> 指定措施</span></span>
                    <br/>
                    <input class="form-control" />
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <span style="font-size: medium;color: #00A000;">原因分析:</span>
                </td>
                <td colspan="3">
                    <span style="font-size: medium;color: #00A000;">直接原因:</span>
                    <input class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="font-size: medium;color: #00A000;">根本原因:</span>
                    <input class="form-control" />
                </td>
            </tr>
            <tr>
                <td rowspan="4">
                    <span style="font-size: medium;color: #00A000;">整改措施:</span>
                </td>
                <td colspan="3">
                    <span style="font-size: medium;color: #00A000;">纠正措施:</span>
                        <textarea class="form-control" style="height: 150px;"></textarea>
                    <br/>
                 </td>

            </tr>
            <tr>
                <td >
                    <span style="font-size: medium;color: red;">纠正措施预计完成期限:</span>
                </td>
                <td colspan="2">
                    <input class="form-control" type="date" style="width: 150px;"/>
                </td>
            </tr>
            <tr>
                <td  colspan="3">
                    <span style="font-size: medium;color: #00A000;">预防措施:</span>
                        <textarea class="form-control" style="height: 150px;"></textarea>
                    <br/>
                </td>
            </tr>
            <tr>
                <td >
                    <span style="font-size: medium;color: red;">预防措施预计完成期限:</span>
                </td>
                <td colspan="2">
                    <input class="form-control" type="date" style="width: 150px;"/>
                </td>
            </tr>
            <tr>
                <td >
                    <span style="font-size: medium;color: #00A000;">措施评估:</span>
                </td>
                <td colspan="3">
                    <span><input name="Fruit" type="radio" value="" />措施评估通过 <span/>
                    <span><input name="Fruit" type="radio" value="" />措施评估不通过 </span>
                    <br/>
                    <textarea class="form-control" style="height: 100px;"></textarea>
                </td>
            </tr>
            <tr>
                <td >
                    <span style="font-size: medium;color: #00A000;">整改证据:</span>
                </td>
                <td colspan="3">
                    <textarea id="" summernote name="content"></textarea>
                </td>
            </tr>
            <tr>
                <td >
                    <span style="font-size: medium;color: #00A000;">整改效果评估:</span>
                </td>
                <td colspan="3" style="">
                    <span><input name="Fruit1" type="radio" value="" />整改效果可接受 <span/>
                    <span><input name="Fruit1" type="radio" value="" />整改效果不可接受 </span>
                    <br/>
                    <textarea class="form-control" style="height: 100px;"></textarea>
                </td>
            </tr>
        </table>
    </div>

</form>
<script>
    $(function () {
        $("a[name='']").bind('click',function () {
            $("#frm1").attr("src","/Index/GiveOrental/Index/id/"+ ""+$(this).attr("rowId"));

        });
        $('.js-example-basic-multiple').select2();
        $('select').select2();
        var $summernote = $('textarea[summernote]').summernote({
            height: 400,
            minHeight: null,
            maxHeight: null,
            focus: true,
            airMode: false,
            //调用图片上传
            callbacks: {
                onImageUpload: function (files) {
                    sendFile($summernote, files[0]);
                }
            }
        });
        function sendFile($summernote, file) {
            var formData = new FormData();
            formData.append("file", file);
            $.ajax({
                url: "/SafetyMng/Help/uploadFile.html",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (data) {
                    //alert(data);
                    $summernote.summernote('insertImage', data, function ($image) {
                        $image.attr('src', data);
                    });
                }
            });
        }

        $('select').select2();

    });
</script>
</body>
</html>