<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row" style="margin-top: 15px;">
    <div class="col-sm-12" style="margin-left: 10px;">
        <div id = "gyDiv" >
            <table class="table  table-bordered bootstrap-datatable datatable table-hover responsive" >
                <thead>
                <tr>
                    <th style="width: 50px;">序号</th>

                </thead>
                <tbody >

                {volist name="SubjectList" id="vo"}
                <tr CheckListRowId = {$vo.CheckListRowId} >
                    <td>
                        序号
                    </td>
                    <td>
                        {$vo['id']}
                    </td>
                </tr>
                <tr>
                    <td>
                       类型
                    </td>
                    <td>
                        {$vo['SubjectType']}
                    </td>
                </tr>
                <tr>
                    <td>
                        题干
                    </td>
                    <td style="font-size:10px;">
                        {$vo['SubjectContent']|htmlspecialchars_decode}
                    </td>
                </tr>
                <tr>
                    <td>
                        答案
                    </td>
                    <td>
                        {$vo['SubjectAnswer']|htmlspecialchars_decode}
                    </td>

                </tr>

                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
    <SCRIPT>
        $(function () {
            $('a[SubjectID]').click(function () {
                window.open('/jingsai/index/showSubjectInput/id/'+$(this).attr('SubjectID'));
            });
        });
    </SCRIPT>
</div>
</body>
</html>