<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签树管理</title>
</head>
<body class="container-full">
<form action="/SafetyMng/TreeMng/AddTree.html" method="post" enctype="application/x-www-form-urlencoded">
    <div class="row">
        <div class="col-sm-3" style="border-right: dashed 1px;min-height: 800px;">
            <h2 style="text-align: center;color: #c10802;">实时排行榜</h2>
            <div class="list-group">
                <a href="#" class="list-group-item"><div><h3>1.机务工程部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;">100</span></h3></div></a>
                <a href="#" class="list-group-item"><div><h3>2.飞行九大队&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100</h3></div></a>
            </div>

        </div>
        <div class="col-sm-9" >
            <div class="row">
                <div class="col-xs-2">
                    <span>题目类型:</span>
                </div>
                <div class="col-xs-2">
                    <select class="form-control"></select>
                </div>
                <div class="col-xs-1">
                    <span>答题者:</span>
                </div>
                <div class="col-xs-2">
                    <select class="form-control"></select>
                </div>
                <button class="btn btn-lg btn-success">开始抽题</button>
            </div>
        </div>
        <div id="showDiv" style="display: none;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-2">节点名称:</div>
                <div class="col-xs-8"><input id="NewNodeName" class="form-control "/></div>
            </div>
        </div>
    </div>
</form>
<script>

</script>
</body>
</html>