<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签树管理</title>
</head>
<body class="container-full">
<form id="mForm" action="/jingsai/index/AnswerSubject.html" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" id="CurSubjectID"  name="CurSubjectID" value="">
    <input type="hidden" id="CurDTUser" name="CurDTUser" value="">
    <input type="hidden" id="IsOK" name="IsOK" value="">
    <div class="row">
        <div class="col-sm-3" style="border-right: dashed 1px;min-height: 800px;">
            <h2 style="text-align: center;color: #c10802;">实时排行榜</h2>
            <div class="list-group">
                <table >
                    {volist name="GroupList" id="vo"}
                        <tr style="border: 1px solid #ccc;">
                            <td style="width: 80%"><h4>{++$Cnt}.{$vo.GroupName}</h4></td>
                            <td><h4><span style="color: #c10802;">{$vo.CurFS}</span></h4></td>
                        </tr>
                    {/volist}
                </table>
            </div>
        </div>
        <div class="col-sm-9" >
            <div class="row">
                <div class="col-xs-2">
                    <span style="font-size: large;">题目类型:</span>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" style="font-size: large;height: 42px;" id="SubjectType" name="SubjectType">
                        <option></option>
                        <option>个人必答题</option>
                        <option>团队必答题</option>
                        <option>抢答题</option>
                        <option>案例题</option>
                    </select>
                </div>
                <a class="btn btn-lg btn-default" KSCT>开始抽题</a>
                <a BJTM>题目编辑</a>

            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-2">
                    <span style="font-size: large;">答题队:</span>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" id="DTName" name="DTName" style="font-size:large;height: 42px;">

                    </select>
                </div>
                <a class="btn btn-md btn-success" AnswerSubject="Y">回答正确</a>
                <a class="btn btn-md btn-danger"  AnswerSubject="N">回答错误</a>
                <a class="btn btn-md btn-info"  AnswerSubject="ZF">作废试题</a>
                <a class="btn btn-md btn-primary" SDKF >手动扣分</a>
            </div>



            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-2">
                    <span style="font-size: large;">倒计时:</span>
                </div>
                <div class="col-xs-6">
                    <span id="JsSpan" style="font-size: 50px;color: white;background-color: green;border-radius:10px;box-shadow:1px 1px 3px rgba(0,0,0,0.2);display: none;">60秒</span>
                    <a class="btn btn-md btn-warning" style="margin-left: 20px;" KSZB>开始准备</a>
                    <a class="btn btn-md btn-primary" style="margin-left: 20px;" KSDT>开始答题</a>
                    <a class="btn btn-md btn-danger" style="margin-left: 20px;" TZJS>停止计时</a>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-2">
                    <span style="font-size: large;">题号:</span>
                </div>
                <div class="col-xs-4">
                    <span style="font-size: large;color:#0000ff" id="SubjectNum" ></span>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-2">
                    <span style="font-size: large;" >题干:</span>
                </div>
                <div class="col-xs-10" id="SubjectContent" style="border: dashed 2px blue">
                    <span style="font-size: large;" >请您抽题!</span>
                </div>
            </div>
            <div class="row" style="margin-top :20px;" >
                <div class="col-sm-4 col-sm-offset-2">
                    <a class="btn btn-md btn-warning" id="LookAnswer">查看答案</a>
                </div>
            </div>
        </div>
        <div id="showDiv" style="display: none;">
            <div class="row" style="margin-top: 20px;margin-left: 10px;">
                <span style="font-size: xx-large;">题目类型:</span>
                <span style="font-size: xx-large;color: blue;" id="CTLX"></span>
            </div>
            <div class="row" style="margin-left: 10px;">
                <table border="1px" id="CTTB">

                </table>
            </div>
        </div>
        <div id="showDiv1" style="display: none;">
            <div class="row" style="margin-left: 5px;">
                <h3 style="text-align: center" id="SubjectNum1"></h3>
            </div>
            <div class="row"  style="margin-left: 5px;">

                <div id="SubjectAnswer" style="border: dashed 2px blue;width: 97%">

                </div>
            </div>
        </div>
        <div id="showDiv2" style="display: none;">
            <div class="row" style="margin-left: 10px;">
                <div class="col-xs-4">
                    <span style="font-size: xx-large;">扣分队:</span>
                </div>
                <div class="col-xs-8">
                    <span style="font-size: xx-large;color: #1d9ce5;" id="KDF"></span>
                </div>
            </div>


            <div class="row" style="margin-left: 10px;margin-top: 10px;">
                <div class="col-xs-4"><span style="font-size: xx-large;">扣分分值:</span></div>
                <div class="col-xs-4">
                    <input id="KFFZ" type="number" style="font-size: xx-large;height: 62px;" class="form-control" id="KFFZ" name="KFFZ"/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-3 col-xs-offset-4">
                    <a class="btn btn-lg btn-danger" QDKF>确定</a>
                </div>

            </div>
        </div>
    </div>
</form>
<script>
    var CurTimer = null;
    var ZBSJ = 20;
    var DTSJ = 60;
    function KSJS($DT_IN,msg) {
        var DT = $DT_IN;
        $('#JsSpan').show();
        CurTimer!=null?window.clearInterval(CurTimer):0;
        CurTimer =  window.setInterval(function () {
            if(DT/$DT_IN>0.5){
                $('#JsSpan').css('background-color','green');
                $('#JsSpan').css('color','white');
            }else if(DT/$DT_IN>0.25){
                $('#JsSpan').css('background-color','yellow');
                $('#JsSpan').css('color','black');
            }else{
                $('#JsSpan').css('background-color','red');
                $('#JsSpan').css('color','white');
            }

            if(DT>0){
                DT--;
            }else{
                CurTimer!=null?window.clearInterval(CurTimer):0;
                layer.alert(msg);
            }

            $('#JsSpan').text(DT+'秒');
        },1000);
    }

    function TZJS() {
        CurTimer!=null?window.clearInterval(CurTimer):0;
        $('#JsSpan').hide();
    }

    function GetSubjectContent($id) {
        $.ajax({
            url:"/jingsai/index/GetSubject/id/"+$id,
            type:'get',
            dataType:"json",
            success:function (data,textStatus) {
                if (data.ret == 'success'){
                    $('#CurSubjectID').val($id);
                    $('#SubjectContent').empty();
                    $(data.data.SubjectContent).appendTo('#SubjectContent');
                    $('#SubjectAnswer').empty();
                    $(data.data.SubjectAnswer).appendTo('#SubjectAnswer');
                    $('#SubjectNum').text(data.data.id + '号' + data.data.SubjectType);
                    $('#SubjectNum1').text(data.data.id + '号' + data.data.SubjectType +'答案');
                    layer.closeAll();
                }}
            });
    }
    
function reBindJSBtnEvent() {

    $('a[KSZB]').unbind('click');
    $('a[KSDT]').unbind('click');

    $('a[KSZB]').click(function () {
        KSJS(ZBSJ,'时间到!!!');
    });

    $('a[KSDT]').click(function () {
        KSJS(DTSJ,'时间到!!!');
    });
}    

$(function () {
    $('a[KSZB]').click(function () {
        KSJS(ZBSJ,'时间到!!!');
    });
    $('a[KSDT]').click(function () {
        KSJS(DTSJ,'时间到!!!');
    });

    $('a[KSCT]').click(function () {

        var SubjectType = $.trim($('#SubjectType').val());
        if (SubjectType == '') {
            layer.alert('请选择题目类型!');
            return;
        }
        $.ajax({
            url: "/jingsai/index/GetSubjectIDList/Type/" + SubjectType,
            type: 'get',
            dataType: "json",
            success: function (data, textStatus) {
                len = data.data.length;
                $('#CTTB').empty();
                for (i = 1, $TDS = ''; i <= len; i++) {
                    console.log(data.data[i - 1].SubjectOKFS +':'+data.data[i - 1].id);
                    TDColorCss = data.data[i - 1].SubjectOKFS > 20 ?'background-color:green;color:white':'';
                    $TDS += '<td CTTD style="font-size: 40px;width: 60px;height: 60px;'+TDColorCss+'" align="center">' + data.data[i - 1].id + '</td>';
                    if (i % 9 == 0) {
                        $TDS = '<tr>' + $TDS + '</tr>';
                        $($TDS).appendTo('#CTTB');
                        $TDS = '';
                    }
                }
                if ($TDS !== '') {
                    $TDS = '<tr>' + $TDS + '</tr>';
                    $($TDS).appendTo('#CTTB');
                }

                $('td[CTTD]').unbind('dbclick');
                $('td[CTTD]').dblclick(function () {
                    GetSubjectContent($(this).text());
                });
                $('#CTLX').text($('#SubjectType').val());
                layer.open({
                    type: 1,
                    title: false,
                    area: ['620px', '600px'],
                    content: $('#showDiv')
                });

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    });


        $('#LookAnswer').click(function () {
            layer.open({
                type: 1,
                title: false,
                area: ['720px', '600px'],
                content: $('#showDiv1'),
                shadeClose: true
            });
        });
        
        $('#SubjectType').change(function () {
            $SubjectType = $('#SubjectType').val();
            $.ajax({
                url: "/jingsai/index/GetDTUserList/SubjectType/" + $('#SubjectType').val(),
                type: 'get',
                dataType: "json",
                success: function (data, textStatus) {
                    len = data.data.length;
                    $('#DTName').empty();
                    for (i = 0,$op='<option></option>'; i <len; i++) {
                        $op += '<option>'+data.data[i].Name+'</option>';
                    }
                    $($op).appendTo('#DTName');
                }
            });
            if($SubjectType=='个人必答题' || $SubjectType=='团队必答题' || $SubjectType=='抢答题'){
                ZBSJ = 20;
                DTSJ = 60;
            }else if($SubjectType=='案例题'){
                ZBSJ = 60;
                DTSJ = 180;
            }
            reBindJSBtnEvent();
        });
        $('a[AnswerSubject]').click(function () {
            $id = $('#CurSubjectID').val();
            $DTName = $('#DTName').val();

            if($id=='' || $id==0){
                layer.alert('没有抽题目');
                return;
            }

            if($DTName=='' && $(this).attr('AnswerSubject')!='ZF'){
                layer.alert('答题人为空!');
                return;
            }

            $('#CurDTUser').val($DTName);
            $('#IsOK').val($(this).attr('AnswerSubject'));

            if($(this).attr('AnswerSubject')=='ZF'){
                $('#CurDTUser').val('作废');
            }

            $('#mForm').submit();

        });

        $('a[SDKF]').click(function () {

            if($.trim($('#DTName').val())==''){
                layer.alert('没有选择扣分队');
                return;
            }
            $('#KDF').text($('#DTName').val());
            layer.open({
                type: 1,
                title: false,
                area: ['500px', '200px'],
                content: $('#showDiv2'),
                shadeClose: true
            });
        });

        $('a[QDKF]').click(
            function () {
                if($('#KFFZ').val()!='' && $('#DTName').val()!=''){
                    $('#CurDTUser').val($('#DTName').val());
                    $('#mForm').attr('action','/jingsai/index/KF');
                    $('#mForm').submit();
                }

            }
        );
        $('a[BJTM]').click(function () {
            window.open('/jingsai/index/showSubjectInput/id/'+$('#CurSubjectID').val());
        });

        $('a[TZJS]').click(function () {
            TZJS();
        });
 })
</script>
</body>
</html>