{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link id="bs-css" href="__PUBLIC__/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/charisma-app.css" rel="stylesheet">
    <link href='__PUBLIC__/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='__PUBLIC__/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='__PUBLIC__/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='__PUBLIC__/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='__PUBLIC__/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/jquery.noty.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/noty_theme_default.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/elfinder.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/elfinder.theme.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/uploadify.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/animate.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/doc.min.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/MyCss.css' rel='stylesheet'>
    <link href='__PUBLIC__/css/jquery-ui.min.css' rel='stylesheet'>

    <!-- library for cookie management -->
    <script src="__PUBLIC__/js/jquery.cookie.js"></script>
    <!-- calender plugin -->

    <!-- data table plugin -->
    <script src='__PUBLIC__/js/jquery.dataTables.min.js'></script>

    <!-- select or dropdown enhancer -->
    <script src="__PUBLIC__/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="__PUBLIC__/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="__PUBLIC__/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="__PUBLIC__/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="__PUBLIC__/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="__PUBLIC__/js/jquery.raty.min.js"></script>
    <script src="__PUBLIC__/js/moment.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="__PUBLIC__/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="__PUBLIC__/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="__PUBLIC__/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="__PUBLIC__/js/jquery.history.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <script type="text/javascript" src="__PUBLIC__/ckeditor/ckeditor.js"></script>
    <script src="__PUBLIC__/js/gyComm.js"></script>
    <script src="__PUBLIC__/js/jquery-ui.min.js"></script>
    <link href="__PUBLIC__/css/select2.min.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/select2.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
</head>
<meta charset="UTF-8">
<title></title>
<style>
    .select2-container .select2-selection--single{
        height:34px;
        line-height: 34px;
    }
    td{
        text-align:center;vertical-align:middle;
    }

</style>
</head>
<body>
<form id ="mForm" method="post" enctype="application/x-www-form-urlencoded" action="/Index/GiveFee/FeeOpt.html">
    <div class="col-sm-12" style="">
        <h3 style="text-align: center;font-weight: bold;">水电物业费用缴纳</h3>
            <hr style="border-width: 1px;color: blue;" />
        <input type="hidden" name="StoreCodeHid" value="{$StoreCode}"/>
        <div class="form-group" style="margin-top: 10px;">
            <div class="col-sm-12">
                {neq name="Warning" value=""}<div class="alert alert-danger" role="alert"><strong>提示：</strong>{$Warning}</div>{/neq}
            </div>
        </div>
        <input type="hidden" id="opType" name="opType"  value="-1"/>
        <table border="1" class="col-sm-12">
            <tr>
                <td style="width: 100px;">
                    <span style=";color: #00A000;">商铺编号</span>
                </td>
                <td colspan="2" style="width: 40%">
                    <input class="form-control" value="{$StoreCode}" disabled="disabled">
                </td>
                <td colspan="1">
                    <span style=";color: #00A000;">商铺名称</span>
                </td>
                <td colspan="2">
                    <input class="form-control" value="{$StoreName}" disabled="disabled">
                </td>
            </tr>

            <tr>
                <td style="" rowspan="2">
                    <span style=";color: #00A000;">电费</span>
                </td>
                <td>
                    <span style=";color: #00A000;">开始</span>
                </td>
                <td>
                    <span style=";color: #00A000;">结束</span>
                </td>
                <td>
                    <span style=";color: #00A000;">单价</span>
                </td>
                <td>
                    <span style=";color: #00A000;">用电量</span>
                </td>
                <td colspan="1">
                    <span style=";color: #00A000;">应缴金额</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" value="{$StartDU}/{$DFStartDate}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$EndDU}/{$DFEndDate}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$DFPrice}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$DF_DU_Used}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$DFTotalFee}" disabled="disabled">
                </td>
            </tr>
            <tr>
                <td style="" rowspan="2">
                    <span style=";color: #00A000;">物业费</span>
                </td>
                <td>
                    <span style=";color: #00A000;">开始</span>
                </td>
                <td>
                    <span style=";color: #00A000;">结束</span>
                </td>
                <td>
                    <span style=";color: #00A000;">单价</span>
                </td>
                <td>
                    <span style=";color: #00A000;">面积</span>
                </td>
                <td colspan="1">
                    <span style=";color: #00A000;">应缴金额</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" value="{$WYFStartDate}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$WYFEndDate}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$WYFPrice}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$StoreArea}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$WFYTotalFee}" disabled="disabled">
                </td>
            </tr>
            <tr>
                <td style="" rowspan="2">
                    <span style=";color: #00A000;">水费</span>
                </td>
                <td>
                    <span style=";color: #00A000;">开始</span>
                </td>
                <td>
                    <span style=";color: #00A000;">结束</span>
                </td>
                <td>
                    <span style=";color: #00A000;">单价</span>
                </td>
                <td>
                    <span style=";color: #00A000;">数量</span>
                </td>
                <td colspan="1">
                    <span style=";color: #00A000;">应缴金额</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" value="{$SFStartDate}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$SFENDDate}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$SFTotalFee}" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="分摊累加" disabled="disabled">
                </td>
                <td>
                    <input class="form-control" value="{$SFTotalFee}" disabled="disabled">
                </td>
            </tr>
            <tr>
                <td style="" rowspan="2">
                    <span style=";color: #00A000;">合计金额</span>
                </td>
                <td colspan="2">
                    <span style=";color: #00A000;">大写</span>
                </td>
                <td colspan="3">
                    <span style=";color: #00A000;">小写</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="form-control" value="{$TotalFeeDX}" disabled="disabled">
                </td>
                <td colspan="3">
                    <input class="form-control" value="{$TotalFee}" disabled="disabled">
                </td >
             </tr>

        </table>
    </div>
    <div class="row" >
        <div class="form-group">
            {neq name="TotalFee" value="0"}
                {eq name="Corp" value="招商"}
                {if condition="($KPStatus == '') OR ($KPStatus =='退回重开') "}
                <a class="btn btn-primary" opBtn id="KPBtn" style="margin-left:23%;margin-top: 20px;">确认开票</a>
                {/if}
                {if condition="($KPStatus == '已开票')"}
                    <span style="font-size: medium;color: #00A000;margin-left: 30%;margin-top: 30px;"><a opBtn id="XZBtn" href="#">已开票,待财务确认!点此处下载单据。</a></span>
                {/if}
                {/eq}
            {/neq}
            {eq name="Corp" value="财务"}
                {if condition="($KPStatus == '已开票') OR ($KPStatus =='退回重开') "}
                    <div class="col-sm-1" style="width: 100px;margin-top: 20px;margin-left: 10px;">
                        <label for="GiverName" class="control-label">交款人:</label>
                    </div>
                    <div class="col-sm-2" style="width: 200px;margin-top: 20px;">
                        <input type="text" id = "GiverName"  class="form-control"  name="GiverName" />
                    </div>
                    <a class="btn btn-success" opBtn id="SKBtn" style="margin-left: 10%;margin-top: 20px;">确认收款</a>
                    <a class="btn btn-danger"  opBtn id="THBtn" style="margin-left: 20%;margin-top: 20px;">退回重开</a>
                {/if}
            {/eq}
        </div>
     </div>


</form>
<script>
    $(function () {
        $("a[opBtn]").click(function () {
            if($(this).attr("id")=="KPBtn"){
                $("#opType").val("0");
            }else if($(this).attr("id")=="SKBtn"){
                $("#opType").val("1");
            }else if($(this).attr("id")=="THBtn"){
                $("#opType").val("2");
            }else if($(this).attr("id")=="XZBtn"){
                $("#opType").val("3");
            }
            $("#mForm").submit();
        });
    });
</script>
</body>
</html>