
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        img[CAFUC!=Fuck]{
            max-width: 100%;
        }
    </style>
</head>
<meta charset="UTF-8">
<title></title>
</head>
<body class="container-fluid">
<ul id="myTab" class="nav nav-tabs" >
    <li id="QuestionMng" class="active">
        <a href="#home" aria-controls="closetab" role="tab" data-toggle="tab">
            <span>问题描述与处理</span>
        </a>
    </li>
    {eq name="showReformList" value = "YES"}
        <li id="LiReformList" class="">
            <a href="#ReformList" id="aReformList" data-toggle="tab">
                整改通知书列表
            </a>
        </li>
    {/eq}
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="home" style="">
        <form id="form1" class="form-horizontal" role="form" enctype="application/x-www-form-urlencoded" method="post" action="/Index/SysConf/SetSysConf.html">

            <div class="col-sm-10 col-sm-offset-2" style="margin-top: 20px;">
                <table border="1" bordercolor="gray" >
                    <tr>
                        <td style="width: 100px;" valign="top">
                            <span style="font-size: large;color: #00A000;">问题标题:</span>
                        </td>
                        <td align="center;" >
                            <span style="color: #0d7bdc;font-size: medium;">{$dataRow['QuestionTitle']}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;" valign="top">
                            <span style="font-size: large;color: #00A000;">问题来源:</span>
                        </td>
                        <td align="center;" >
                            <span style="font-size: medium;">{$dataRow['QuestionSource']}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;" valign="top">
                            <span style="font-size: large;color: #00A000;">问题对象:</span>
                        </td>
                        <td align="center;" >
                            <span style="font-size: medium;"><label class="label label-danger">{$dataRow['RelatedCorp']}</label></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;" valign="top">
                            <span style="font-size: large;color: #00A000;">问题依据:</span>
                        </td>
                        <td align="center;" >
                            <span style="font-size: medium;">{$dataRow['Basis']}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;" valign="top">
                            <span style="font-size: large;color: #00A000;">发现人:</span>
                        </td>
                        <td align="center;">
                            <span style="font-size: medium;">{$dataRow['Finder']}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;" valign="top">
                            <span style="font-size: large;color: #00A000;">发现时间:</span>
                        </td>
                        <td align="center;">
                            <span style="font-size: medium;">{$dataRow['DateFound']}</span>
                        </td>
                    </tr>
                        <tr>
                            <td style="width: 100px;" valign="top">
                                <span style="font-size: large;color: #00A000;">问题描述:</span>
                            </td>
                            <td>
                                <span>{$dataRow['QuestionInfo']|htmlspecialchars_decode}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span style="font-size: large;color: #00A000;">提交人:</span>
                            </td>
                            <td>
                                <span style="margin-left: 10px;">{$dataRow['CreatorName']}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: large;color: #00A000;">提交时间:</span>
                            </td>
                            <td>
                                <span style="margin-left: 10px;">{$dataRow['CreateTime']}</span>
                            </td>
                        </tr>
                    </table>
                    <hr/>
                    {eq name="showMng" value="YES"}
                        <div class="row">
                            <button class="btn  btn-primary " >标记为无效信息</button>
                            <a XFZG class="btn  btn-danger col-sm-offset-1" style="margin-left: 100px;">下发整改通知单</a>
                            <button class="btn  btn-warning" style="margin-left: 100px;">纳入SMS</button>
                            <button class="btn  btn-primary" style="margin-left: 100px;">纳入安全隐患</button>
                            <button class="btn  btn-default " style="margin-left: 100px;">退回</button>
                        </div>
                    {/eq}
                </div>
        </form>
    </div>
    {eq name="showReformList" value = "YES"}
        <div class="tab-pane" id="ReformList" style="padding: 0px;margin: 0px;">
            <iframe id = "ReformListForm" src="/SafetyMng/Reform/showReformList/TaskID/{$TaskID}" name="ReformListForm" scrolling="no" width="100%" height="800px" onload="" frameborder="0"></iframe>
        </div>
    {/eq}
</div>


<script>
    var TabCount = 1;


    function changeFrameHeight(t){
        /*var ifm= document.getElementById(t);

        var subWeb = ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
            ifm.width = subWeb.body.scrollWidth;
        }*/
       var iframeid=document.getElementById(t); //iframe id

            if (iframeid && !window.opera){
                if (iframeid.contentDocument && iframeid.contentDocument.body.offsetHeight){
                    iframeid.height = iframeid.contentDocument.body.offsetHeight;
                }else if(iframeid.Document && iframeid.Document.body.scrollHeight){
                    iframeid.height = iframeid.Document.body.scrollHeight;
                }
            }


    }


    function CloseBtnClick(t) {
        var d1 = dialog({
            title: '确认关闭',
            content: '当前未保存内容在关闭后将无法再现保存！确认要关闭吗?',
            width:440,
            okValue:'确定',
            ok: function () {
                Code = $(t).attr('PrivCode');
                $('#li'+Code).remove();
                $('#div'+Code).remove();
                $('#myTab > li').removeClass('active');
                $('#LiReformList').addClass('active');
                $('#myTabContent > div').removeClass('active');
                $('#ReformList').addClass('active');
            },
            cancelValue:'再想想',
            cancel:function () {

            }
        });
        d1.showModal();
    }

    $(function () {
        $("a[XFZG]").bind('click',function () {
            var d1 = dialog({
                title: '确认',
                content: '确定进入问题-整改分支？',
                width:440,
                okValue:'确定',
                ok: function () {
                    window.location = '/SafetyMng/QuestionMng/setQuestionDealType/TaskID/{$TaskID}/Type/0'
                },
                cancelValue:'再想想',
                cancel:function () {
                    
                }
            });
            d1.showModal();
        });

        $('iframe').each2(function () {
            changeFrameHeight($(this).attr('id'));
        })
    });
</script>

</body>
</html>