
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<meta charset="UTF-8">
<title></title>

</head>
<body class="container-fluid">
<ul id="myTab" class="nav nav-tabs" >
    <li id="QuestionMng" class="active">
        <a href="#home" data-toggle="tab">
            问题描述与处理
        </a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="home" style="">
        <form id="form1" class="form-horizontal" role="form" enctype="application/x-www-form-urlencoded" method="post" action="/Index/SysConf/SetSysConf.html">
                <div class="col-sm-10 col-sm-offset-2">
                    <table>
                        <tr>
                            <td style="width: 100px;">
                                <span style="font-size: large;color: #00A000;">标题:</span>
                            </td>
                            <td>
                                <span>{$dataRow['QuestionTitle']}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: large;color: #00A000;">问题描述:</span>
                            </td>
                            <td>
                                <span>{$dataRow['QuestionInfo']|htmlspecialchars_decode}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: large;color: #00A000;">附件:</span>
                            </td>
                            <td>
                                <a href="/upload/{$dataRow['subFileSaveName']}">{$dataRow['subFileName']}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: large;color: #00A000;">提交人:</span>
                            </td>
                            <td>
                                <span style="margin-left: 10px;">{$dataRow['CreatorName']}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: large;color: #00A000;">提交时间:</span>
                            </td>
                            <td>
                                <span style="margin-left: 10px;">{$dataRow['CreateTime']}</span>
                            </td>
                        </tr>
                    </table>
                    <hr/>
                    <div class="row">
                        <button class="btn  btn-primary " >标记为无效信息</button>
                        <a XFZG class="btn  btn-danger col-sm-offset-1" style="margin-left: 100px;">下发整改通知单</a>
                        <button class="btn  btn-warning" style="margin-left: 100px;">纳入SMS</button>
                        <button class="btn  btn-primary" style="margin-left: 100px;">纳入安全隐患</button>
                        <button class="btn  btn-default " style="margin-left: 100px;">退回</button>
                    </div>
                </div>
        </form>
    </div>
</div>


<script>
    var TabCount = 1;
    function changeFrameHeight(){
        $('iframe').attr('height',3500);
     }

    window.onresize=function(){
        changeFrameHeight();
    }
    $(function () {
        $('a[XFZG]').click(function () {
            NextID = 'Tab' + (++TabCount);
            $('<li id="li'+TabCount+'"><a  href="#div'+NextID+'" data-toggle="tab">整改通知</a></li>').appendTo("#myTab");
            $('<div class="tab-pane" id="div'+NextID+'" style=""><iframe id = "Frm'+TabCount+'" src="/SafetyMng/Reform/Index/QuestionID/'+{$dataRow['id']}+'" scrolling="no" width="100%" onload="changeFrameHeight()" frameborder="0"></iframe></div>').appendTo('#myTabContent');
            $('#myTab > li').removeClass('active');
            $('#li'+TabCount).addClass('active');
            $('#myTabContent > div').toggleClass('active');
            $('#div'+TabCount).addClass('active');
        });
    });
</script>

</body>
</html>